## Global Definitions

In [1]:
import sys
sys.path.append("/home/local-python/lib/python3.5/site-packages")
import numpy as np
import pandas as pd
import collections

pd.options.mode.chained_assignment = None

In [2]:
v=[-3.83082454004815753e+00,1.37459160094637340e+01,-2.20140582645629301e+01]

In [3]:
np.linalg.norm(v)

26.234408414741086

In [4]:
w=[2.37896083289735891e+01,3.56121948132816479e+00,1.04380434535207289e+01]

In [5]:
np.linalg.norm(w)

26.221756229851344

In [6]:
vsun=np.array([11.1,12.24+220,7.25])
vobjin=np.array([-11.32034, -22.38791, -7.62075])
np.linalg.norm(vsun+vobjin)

209.85253318138953

In [7]:
vobjout=np.array([-5.84243, 20.30468, -15.40202])
np.linalg.norm(vsun+vobjout)

252.7309099985352

# Build AstroRV Catalog

This notebook is aimed to build the AstroRV catalog, a complete compilation of astrometric and radial velocities information of nearby stars. 

This catalog was originally aimed at studying the interstellar origin probability for objects approaching the Solar System in unbound orbits

## Sources

In [8]:
#SOURCE DIR
SRC_DIR="src/"

#GAIA SOURCES                                                                                                                                                                        
TGAS_DIR="src/Astro/"

#SIMBAD SOURCES                                                                                                                                                                      
SIMBAD_DIR="src/Astro/"

#TYCHO2/HIPPARCOS SOURCES                                                                                                                                                            
HIPTYC_DIR="src/Astro/"

#RADIAL VELOCITY SOURCES                                                                                                                                                             
RV_DIR="src/RV/"

## Read input catalogs

### GAIA

In [9]:
# =============================================================================
# LECTURA DE ARCHIVOS DE GAIA
# =============================================================================

# Description:

# hip : Hipparcos identifier (int).
# tycho2_id : Tycho 2 identifier (string).
# ref_epoch : Reference epoch (double, Time[Julian Years]), expressed as a Julian Year in TCB.
# ra : Right ascension (double, Angle[deg]). Barycentric right ascension of the source in ICRS.
# ra error : Standard error of right ascension (double, Angle[mas]).
# dec : Declination (double, Angle[deg]). Barycentric declination of the source in ICRS.
# dec error : Standard error of declination (double, Angle[mas]).
# parallax : Parallax (double, Angle[mas]). Absolute barycentric stellar parallax of the source.
# parallax error : Standard error of parallax (double, Angle[mas]).
# pmra : Proper motion in right ascension direction (double, Angular Velocity[mas/year].
# pmra error : Standard error of proper motion in right ascension direction (double, Angular Velocity[mas/year]).
# pmdec : Proper motion in declination direction (double, Angular Velocity[mas/year].
# pmdec error : Standard error of proper motion in declination direction (double, Angular Velocity[mas/year]).
# phot g mean mag : G-band mean magnitude (double, Magnitude[mag]) Mean magnitude in the G band.
# l : Galactic longitude (double, Angle[deg]).
# b : Galactic latitude (double, Angle[deg]).

cols_gaia = ["hip", "tycho2_id", "ref_epoch", "ra", "ra_error", "dec", "dec_error", "parallax", "parallax_error", "pmra", "pmra_error", \
        "pmdec", "pmdec_error", "ra_dec_corr", "ra_parallax_corr", "ra_pmra_corr", "ra_pmdec_corr", "dec_parallax_corr", \
        "dec_pmra_corr", "dec_pmdec_corr", "parallax_pmra_corr", "parallax_pmdec_corr", "pmra_pmdec_corr", \
        "phot_g_mean_flux", "phot_g_mean_flux_error", "phot_g_mean_mag", "l", "b", "ecl_lon", "ecl_lat"]

for i in range(16):
    filename = TGAS_DIR + "TgasSource_000-000-0" + str(i).zfill(2) + ".csv.gz"
    if i == 0:
        print("Reading", filename)
        gaia = pd.read_csv(filename, usecols=cols_gaia)
    else:
        print("Reading", filename)
        DRx = pd.read_csv(filename, usecols=cols_gaia)
        gaia = gaia.append(DRx)

gaia = pd.DataFrame(gaia)

gaia_hip = gaia[gaia.hip.notnull()]
gaia_tyc = gaia[gaia.tycho2_id.notnull()]

print("Gaia: Subset Hipparcos:", len(gaia_hip))
print("Gaia: Subset Tycho-2:", len(gaia_tyc))
print("Total Gaia:", len(gaia))

Reading src/Astro/TgasSource_000-000-000.csv.gz
Reading src/Astro/TgasSource_000-000-001.csv.gz
Reading src/Astro/TgasSource_000-000-002.csv.gz
Reading src/Astro/TgasSource_000-000-003.csv.gz
Reading src/Astro/TgasSource_000-000-004.csv.gz
Reading src/Astro/TgasSource_000-000-005.csv.gz
Reading src/Astro/TgasSource_000-000-006.csv.gz
Reading src/Astro/TgasSource_000-000-007.csv.gz
Reading src/Astro/TgasSource_000-000-008.csv.gz
Reading src/Astro/TgasSource_000-000-009.csv.gz
Reading src/Astro/TgasSource_000-000-010.csv.gz
Reading src/Astro/TgasSource_000-000-011.csv.gz
Reading src/Astro/TgasSource_000-000-012.csv.gz
Reading src/Astro/TgasSource_000-000-013.csv.gz
Reading src/Astro/TgasSource_000-000-014.csv.gz
Reading src/Astro/TgasSource_000-000-015.csv.gz
Gaia: Subset Hipparcos: 93635
Gaia: Subset Tycho-2: 1963415
Total Gaia: 2057050

### HIPPARCOS

In [10]:
# Información disponible en: http://cdsarc.u-strasbg.fr/viz-bin/Cat?cat=I%2F239&target=readme&#sRM2.1
names_hip={}
names_hip[1] = "hip"
names_hip[8] = "ra_Hip"
names_hip[9] = "dec_Hip"
names_hip[11] = "parallax_Hip"
names_hip[12] = "pmra_Hip"
names_hip[13] = "pmdec_Hip"
names_hip[14] = "ra_error_Hip"
names_hip[15] = "dec_error_Hip"
names_hip[16] = "parallax_error_Hip"
names_hip[17] = "pmra_error_Hip"
names_hip[18] = "pmdec_error_Hip"
names_hip[19] = "ra_dec_corr_Hip"
names_hip[20] = "ra_parallax_corr_Hip"
names_hip[21] = "dec_parallax_corr_Hip"
names_hip[22] = "ra_pmra_corr_Hip"
names_hip[23] = "dec_pmra_corr_Hip"
names_hip[24] = "parallax_pmra_corr_Hip"
names_hip[25] = "ra_pmdec_corr_Hip"
names_hip[26] = "dec_pmdec_corr_Hip"
names_hip[27] = "parallax_pmdec_corr_Hip"
names_hip[28] = "pmra_pmdec_corr_Hip"
names_hip[71] = "HenryDraperId_Hip"
names_hip[5] = "Vmag_Hip"
#names_hip[76] = "sptype_Hip"

names_hip = collections.OrderedDict(sorted(names_hip.items()))

hipparcos = pd.read_csv(HIPTYC_DIR+"hip_main.dat.gz", delimiter="|", usecols = names_hip.keys(),  names = names_hip.values())
hipparcos = pd.DataFrame(hipparcos)

# Descartar elementos con paralajes nulos

n1 = len(hipparcos)
#hipparcos.apply(pd.to_numeric, errors="coerce").info()                                # Convierte la información en tipo float

hipparcos["ra_Hip"] = pd.to_numeric(hipparcos["ra_Hip"], errors="coerce")             # Convierte en np.nan los valores no numer.
hipparcos["dec_Hip"] = pd.to_numeric(hipparcos["dec_Hip"], errors="coerce")           # Convierte en np.nan los valores no numer.
hipparcos["parallax_Hip"] = pd.to_numeric(hipparcos["parallax_Hip"], errors="coerce") # Convierte en np.nan los valores no numer.
hipparcos["Vmag_Hip"] = pd.to_numeric(hipparcos["Vmag_Hip"], errors="coerce")         # Convierte en np.nan los valores no numer.
hipparcos.dropna(subset=["ra_Hip", "dec_Hip", "parallax_Hip"], inplace=True)          # Elimina los registros con paralaje nulo
hipparcos["source"]="hipparcos"


n2 = len(hipparcos)
print("Objects discarded:", n1-n2)

len(hipparcos)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Objects discarded: 263

117955

In [11]:
hipparcos[hipparcos.hip==118278]['parallax_Hip']

118173    38.76
Name: parallax_Hip, dtype: float64

## Hipparcos Improved (2007)

In [12]:
#HIPPARCOS VAN LEEUWEN
#I/311/hip2
name="HipVanLeeuwen2007.tsv"
print("Building catalogue %s..."%name)
comments=list(range(95))+[96,97]
hipvan=pd.read_csv(HIPTYC_DIR+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    hipvan[cname]=hipvan[cname].fillna('')
    hipvan[cname]=hipvan[cname].map(str)
dfstr=hipvan.select_dtypes(['object'])
hipvan[dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(hipvan))
hipvan.rename(columns=dict(HIP='hip'),inplace=True)
hipvan.fillna('NULL',inplace=True)
hipvan["n_HIP"]=hipvan["n_HIP"].map(lambda x:'NULL' if x=='' else x.replace(' ','_'))
ncols=dict()
for col in hipvan.columns:
    ncols[col]=col+"_Hip2" if col!='hip' else col
hipvan.rename(columns=ncols,inplace=True)
hipvan.hip=hipvan.hip.map(np.int64)
hipvan=hipvan[['_RAJ2000_Hip2', '_DEJ2000_Hip2', 'hip', 'Plx_Hip2', 'e_Plx_Hip2', 'pmRA_Hip2', 'e_pmRA_Hip2',
       'pmDE_Hip2', 'e_pmDE_Hip2','Hpmag_Hip2', 'e_Hpmag_Hip2', 'B-V_Hip2', 'e_B-V_Hip2', 'V-I_Hip2']]
columns={'_RAJ2000_Hip2':'ra_Hip2', '_DEJ2000_Hip2':'dec_Hip2', 'hip':'hip', 
         'Plx_Hip2':'parallax_Hip2', 'e_Plx_Hip2':'parallax_error_Hip2', 
         'pmRA_Hip2':'pmra_Hip2', 'e_pmRA_Hip2':'pmra_error_Hip2',
         'pmDE_Hip2':'pmdec_Hip2', 'e_pmDE_Hip2':'pmdec_error_Hip2'}
hipvan.rename(columns=columns,inplace=True)

#Merge with hipparcos
hipparcos=hipparcos.merge(hipvan, left_on="hip", right_on="hip", how="outer")

Building catalogue HipVanLeeuwen2007.tsv...
Number of objects in HipVanLeeuwen2007.tsv: 117955

### TYCHO

In [13]:
# Información disponible en: http://cdsarc.u-strasbg.fr/viz-bin/Cat?cat=I%2F239&target=readme&#sRM2.13
names_tyc={}
names_tyc[1] = "tycho2_id"
names_tyc[8] = "ra_Tyc"
names_tyc[9] = "dec_Tyc"
names_tyc[11] = "parallax_Tyc"
names_tyc[12] = "pmra_Tyc"
names_tyc[13] = "pmdec_Tyc"
names_tyc[14] = "ra_error_Tyc"
names_tyc[15] = "dec_error_Tyc"
names_tyc[16] = "parallax_error_Tyc"
names_tyc[17] = "pmra_error_Tyc"
names_tyc[18] = "pmdec_error_Tyc"
names_tyc[19] = "ra_dec_corr_Tyc"
names_tyc[20] = "ra_parallax_corr_Tyc"
names_tyc[21] = "dec_parallax_corr_Tyc"
names_tyc[22] = "ra_pmra_corr_Tyc"
names_tyc[23] = "dec_pmra_corr_Tyc"
names_tyc[24] = "parallax_pmra_corr_Tyc"
names_tyc[25] = "ra_pmdec_corr_Tyc"
names_tyc[26] = "dec_pmdec_corr_Tyc"
names_tyc[27] = "parallax_pmdec_corr_Tyc"
names_tyc[28] = "pmra_pmdec_corr_Tyc"
names_tyc[53] = "HenryDraperId_Tyc"
names_tyc[5] = "Vmag_Tyc"

names_tyc = collections.OrderedDict(sorted(names_tyc.items()))

tycho = pd.read_csv(HIPTYC_DIR+"tyc_main.dat", delimiter="|", usecols = names_tyc.keys(), names = names_tyc.values())
tycho = pd.DataFrame(tycho)

# Dividir la cadena de texto en los 3 campos numéricos que componen el ID de Tycho_2 (separados por espacios en blanco)
tycho["a"], tycho["b"], tycho["c"] = tycho["tycho2_id"].str.split().str

# Concatenar los 3 campos numéricos que componen el ID de Tycho_2, separados por guión.
tycho["tycho2_id"] = tycho["a"] + "-" + tycho["b"] + "-" + tycho["c"]

# Borrar campos usados para la conversión
del tycho["a"], tycho["b"], tycho["c"]

# Descartar elementos con paralajes nulos

n1 = len(tycho)
#tycho.apply(pd.to_numeric, errors="coerce").info()                           # Convierte la información en tipo float

tycho["ra_Tyc"] = pd.to_numeric(tycho["ra_Tyc"], errors="coerce")             # Convierte en np.nan los valores no numéricos
tycho["dec_Tyc"] = pd.to_numeric(tycho["dec_Tyc"], errors="coerce")           # Convierte en np.nan los valores no numéricos
tycho["parallax_Tyc"] = pd.to_numeric(tycho["parallax_Tyc"], errors="coerce") # Convierte en np.nan los valores no numéricos
tycho["Vmag_Tyc"] = pd.to_numeric(tycho["Vmag_Tyc"], errors="coerce")         # Convierte en np.nan los valores no numéricos
tycho.dropna(subset=["ra_Tyc", "dec_Tyc", "parallax_Tyc"], inplace=True)      # Elimina los registros con paralaje nulo
tycho["source"]="tycho"

n2 = len(tycho)
print("Objects discarded:", n1-n2)

len(tycho)

Objects discarded: 22887

1035445

### SIMBAD

In [14]:
cols = ["typedident","identifier", "radvel", "coord1(ICRS,J2000/2000)", "plx", "pm", "MagV", "spec.type"]
simbad = pd.read_csv(SIMBAD_DIR+"simbad.csv", usecols=cols, delimiter="|")
simbad = pd.DataFrame(simbad)

# Modificación del ID del catálogo para que quede en formato INTEGER
simbad["hip"] = simbad["typedident"].map(lambda x: str(x)[4:]).astype(float)
del simbad["typedident"]

simbad["plx"] = pd.to_numeric(simbad["plx"], errors="coerce")   

# Cálculo de RA y DEC
# 1. Eliminar espacios en blanco de los lados izquierdo y derecho de cada cadena de texto
simbad["coord1(ICRS,J2000/2000)"] = simbad["coord1(ICRS,J2000/2000)"].str.strip()

# 2. Dividir la cadena de texto en 6 campos (hh:mm:ss para RA y hh:mm:ss para DEC)
simbad["ra_h"], simbad["ra_m"], simbad["ra_s"], simbad["dec_h"], simbad["dec_m"], simbad["dec_s"] = \
    simbad["coord1(ICRS,J2000/2000)"].str.split(" ").str

# 3. Concatenar los 3 primeros campos mediante la fórmula de conversión de hh:mm:ss a grados para la ascensión recta
simbad["ra_simbad"] = simbad["ra_h"].astype(float)*15 + simbad["ra_m"].astype(float)/60 + simbad["ra_s"].astype(float)/3600

# 4. Concatenar los 3 últimos campos mediante la fórmula de conversión de hh:mm:ss a grados para la declinación
simbad["dec_simbad"] = np.sign(simbad["dec_h"].astype(float)) * ( \
    np.abs(simbad["dec_h"].astype(float)) + simbad["dec_m"].astype(float)/60 + simbad["dec_s"].astype(float)/3600 )

# 5. Borrar campos usados para la conversión
del simbad["coord1(ICRS,J2000/2000)"]
del simbad["ra_h"], simbad["ra_m"], simbad["ra_s"], simbad["dec_h"], simbad["dec_m"], simbad["dec_s"]

# Cálculo del movimiento propio
# 1. Eliminar espacios en blanco de los lados izquierdo y derecho de cada cadena de texto
simbad["pm"] = simbad["pm"].str.strip()

#2. Dividir la cadena de texto en 2 campos (PM_RA y PM_DEC)
simbad["pmra_simbad"], simbad["pmdec_simbad"] = simbad["pm"].str.split(" ").str

# 3. Borrar campos usados para la conversión
del simbad["pm"]

# 4. Elimina los registros con paralaje nulo
n1 = len(simbad)
simbad.dropna(subset=["ra_simbad", "dec_simbad", "plx"], inplace=True)      
n2 = len(simbad)
print("Objects discarded:", n1-n2)

# Formato velocidad radial
simbad["radvel"] = simbad["radvel"].str.strip()                   # Elimina espacios en blanco
simbad["radvel"] = simbad["radvel"].replace("~", np.nan)          # Reemplaza el caracter "~" por Null

# Modificar nombre de algunas columnas
simbad = simbad.rename(columns={"identifier": "name_simbad"})      # Modifica el nombre de la columna de nombres propios
simbad = simbad.rename(columns={"plx": "parallax_simbad"})         # Modifca el nombre de la columna de paralajes
simbad = simbad.rename(columns={"spec.type": "sptype_simbad"})     # Modifca el nombre de la columna de clasificación espectral
simbad = simbad.rename(columns={"radvel": "radial_vel_simbad"})    # Modifica el nombre de la columna de velocidades radiales
simbad = simbad.rename(columns={"MagV": "Vmag_simbad"})            # Modifica el nombre de la columna de magnitud V
simbad["source"]="simbad"

len(simbad)

Objects discarded: 175

118004

## Merging

### Merging with common fields

In [15]:
# db = Gaia + Hipparcos
gaia["source"] = "gaia"
exclusive_hip = hipparcos[~hipparcos.hip.isin(gaia_hip.hip)]
exclusive_hip.rename(columns=lambda x: x.replace("_Hip", ""), inplace=True)
exclusive_hip["source"] = "hipparcos"
db = pd.concat([gaia, exclusive_hip], axis=0)
print("Aporte Hipparcos:", len(exclusive_hip))

# db = db + Tycho
exclusive_tyc = tycho[~tycho.tycho2_id.isin(gaia_tyc.tycho2_id)]
exclusive_tyc.rename(columns=lambda x: x.replace("_Tyc", ""), inplace=True)
exclusive_tyc["source"] = "tycho"
db = pd.concat([db, exclusive_tyc], axis=0)
print("Aporte Tycho:", len(exclusive_tyc))

# db = db + Simbad
exclusive_simbad = simbad[~simbad.hip.isin(db.hip)]
exclusive_simbad.rename(columns=lambda x: x.replace("_simbad", ""), inplace=True)
exclusive_simbad = exclusive_simbad.loc[:,["hip", "ra", "dec", "parallax", "pmra", "pmdec"]]
exclusive_simbad["source"] = "simbad"
db = pd.concat([db, exclusive_simbad], axis=0)
print("Aporte Simbad:", len(exclusive_simbad))

# db = db + todos los elementos de Simbad [nombre_star, tipo_espectral, velocidad_radial, Vmag]
db = db.merge(simbad.loc[:,["hip", "name_simbad","sptype_simbad","radial_vel_simbad","Vmag_simbad"]], \
              left_on="hip", right_on="hip", how="left")

# Organizar columnas
cols = ["source"] + cols_gaia + ["Vmag","HenryDraperId"] + ["name_simbad","sptype_simbad","radial_vel_simbad","Vmag_simbad"]
db = db[cols]
db = db.reset_index(drop=True)

# Resultado
print("Tamaño total:", len(db))

Aporte Hipparcos: 24320
Aporte Tycho: 259824
Aporte Simbad: 67
Tamaño total: 2341261

### Merging with all fields

In [16]:
n1 = len(gaia)
print("Tamaño inicial de la base de datos alimentada con Gaia:", n1)

database = gaia.merge(hipparcos, left_on="hip", right_on="hip", how="outer")
n2 = len(database)
print("Tamaño de Hipparcos:", len(hipparcos), "Tamaño final de la base de datos maestra:", n2, ". Aporte:", n2-n1)

database = database.merge(tycho, left_on="tycho2_id", right_on="tycho2_id", how="outer")
n3 = len(database)
print("Tamaño de Tycho:", len(tycho), "Tamaño final de la base de datos maestra:", n3, ". Aporte:", n3-n2)

database = database.merge(simbad, left_on="hip", right_on="hip", how="outer")
n4 = len(database)
print("Tamaño de Simbad:", len(simbad), "Tamaño final de la base de datos maestra:", n4, ". Aporte:", n4-n3)

sources=database[['source_x','source_y']].fillna('')
sources.columns=['s1','s2','s3','s4']
database["source"]=sources["s1"].astype(str)+":"+sources["s2"]+":"+sources["s3"]+":"+sources["s4"]
del(database["source_x"])
del(database["source_y"])

database = database.reset_index(drop=True)

Tamaño inicial de la base de datos alimentada con Gaia: 2057050
Tamaño de Hipparcos: 117955 Tamaño final de la base de datos maestra: 2081370 . Aporte: 24320
Tamaño de Tycho: 1035445 Tamaño final de la base de datos maestra: 2341194 . Aporte: 259824
Tamaño de Simbad: 118004 Tamaño final de la base de datos maestra: 2341261 . Aporte: 67

In [17]:
database[database.hip==118278][['parallax','parallax_Hip','parallax_Hip2']]

        parallax  parallax_Hip  parallax_Hip2
117948       NaN         38.76          39.85

## Radial velocities

### RV Catalogues

In [18]:
data=dict()
match=dict()
RVcat=pd.DataFrame()
srcdir=RV_DIR

###################################################
#READ CATALOGUES
###################################################
#MALDONADO2010
#J/A+A/521/A12/table1
name="Maldonado2010.tsv"
print("Building catalogue %s..."%name)
comments=list(range(82))+[83,84]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"]
df["eRV"]=data[name]["e_RV"]
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#WEB1995
#III/213/catalog
name="Web1995-HIP.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#WEB1995-TYC2
#III/213/catalog
name="Web1995-TYC2.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['TYC2','HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#GCS2011
#J/A+A/530/A138/catalog
name="GCS2011.tsv"
print("Building catalogue %s..."%name)
comments=list(range(174))+[175,176]
data[name]=pd.read_csv(srcdir+name,sep="|",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#RAVE-DR5
#III/279/rave_dr5
name="RAVE-DR5.tsv"
print("Building catalogue %s..."%name)
comments=list(range(78))+[79,80]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['TYCHO2']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
data[name]["TYC2"]=data[name]["TYCHO2"]
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="RAJ2000",DEJ2000="DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["HRV"].map(str)
df["eRV"]=data[name]["e_HRV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#PULKOVO
#III/252/table8
name="Pulkovo.tsv"
print("Building catalogue %s..."%name)
comments=list(range(61))+[62,63]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RA",DEJ2000="_DE")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["eRV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#FAMAEY2005
#J/A+A/430/165/tablea1
name="Famaey2005.tsv"
print("Building catalogue %s..."%name)
comments=list(range(118))+[119,120]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#BB2000
#III/213/catalogue
name="BB2000.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['TYC2','HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#MALARODA2012
#III/249/catalog
name="Malaroda2012.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['TYC2','HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=1.0;df["eRV"]=df["eRV"].map(str) #TYPICAL VALUE FOR OTHER CATALOGUES
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#GALAH I
#J/MNRAS/465/3203/catal
name="Galah.tsv"
print("Building catalogue %s..."%name)
comments=list(range(54))+[55,56]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['TYC2']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="RAJ2000",DEJ2000="DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=0.6;df["eRV"]=df["eRV"].map(str) #Martell et al. (2017)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

###################################################
#COMPILING FULL TABLE
###################################################
print("Compiling final catalogue...")
RVcat=RVcat.rename(columns={'TYC2':'tycho2_id','HIP':'hip'})
print("Compiling final catalogue...")
RVcatf=RVcat.reset_index(drop=True)
print("Number of unfiltered entries:",len(RVcatf))
print("Catalogues included:",np.unique(RVcat.CAT.values))
RVcatf.is_copy=False
cond=RVcatf.RV==''
RVcatf=RVcatf.drop(RVcatf.index[cond])
RVcatf.RV=RVcatf.RV.map(float)
cond=RVcatf.eRV==''
RVcatf=RVcatf.drop(RVcatf.index[cond])
RVcatf.eRV=RVcatf.eRV.map(float)
print("Number of filtered entries:",len(RVcatf))

RV=RVcatf
cats=['hip','tycho2_id']
for cname in cats:
    RV[cname]=RV[cname].fillna('')
    RV[cname]=RV[cname].map(str)
dfstr=RV.select_dtypes(['object'])
RV[dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
RV['hip']=RV['hip'].apply(lambda x:x.replace('.0',''))
print("Number of RV objects: %d"%len(RV))

RVCat=pd.DataFrame()
for col in "hip","tycho2_id":
    sel=RV[RV[col]!=''][[col,"eRV"]].sort_values([col,"eRV"])
    print("Number of total entries for %s: %d"%(col,len(sel)))
    index=sel[col].drop_duplicates().index
    uniq=RV.ix[index]
    print("Number of uniq entries for %s: %d"%(col,len(uniq)))
    RVCat=RVCat.append(uniq)

#RVCat.to_csv(RV_DIR+"RVCat.csv",index=False)
print("Total number of uniq objects:%d"%len(RVCat))

rv=RVCat

Building catalogue Maldonado2010.tsv...
Number of objects in Maldonado2010.tsv: 495
Number of objects in catalogue HIP: 495
Median error: 0.11
Number of entries with zero error: 35
Filtered catalogue: 473
Building catalogue Web1995-HIP.csv...
Number of objects in Web1995-HIP.csv: 494
Number of objects in catalogue HIP: 494
Median error: 1.7
Number of entries with zero error: 0
Filtered catalogue: 494
Building catalogue Web1995-TYC2.csv...
Number of objects in Web1995-TYC2.csv: 673
Number of objects in catalogue TYC2: 673
Number of objects in catalogue HIP: 495
Median error: 1.9
Number of entries with zero error: 1
Filtered catalogue: 673
Building catalogue GCS2011.tsv...

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of objects in GCS2011.tsv: 16682
Number of objects in catalogue HIP: 14955
Median error: 0.4
Number of entries with zero error: 1678
Filtered catalogue: 14139
Building catalogue RAVE-DR5.tsv...
Number of objects in RAVE-DR5.tsv: 520701
Number of objects in catalogue TYCHO2: 309596
Median error: 1.189
Number of entries with zero error: 217
Filtered catalogue: 520701
Building catalogue Pulkovo.tsv...
Number of objects in Pulkovo.tsv: 35493
Number of objects in catalogue HIP: 35493
Median error: 1.6
Number of entries with zero error: 24715
Filtered catalogue: 35493
Building catalogue Famaey2005.tsv...
Number of objects in Famaey2005.tsv: 6690
Number of objects in catalogue HIP: 6690
Median error: 0.22
Number of entries with zero error: 0
Filtered catalogue: 6028
Building catalogue BB2000.csv...
Number of objects in BB2000.csv: 673
Number of objects in catalogue TYC2: 673
Number of objects in catalogue HIP: 495
Median error: 1.9
Number of entries with zero error: 1
Filtered catalogue: 673
Building catalogue Malaroda2012.csv...
Number of objects in Malaroda2012.csv: 2178
Number of objects in catalogue TYC2: 2178
Number of objects in catalogue HIP: 866
Median error: 1.0
Number of entries with zero error: 0
Filtered catalogue: 2178
Building catalogue Galah.tsv...
Number of objects in Galah.tsv: 10680
Number of objects in catalogue TYC2: 10680
Median error: 0.6
Number of entries with zero error: 0
Filtered catalogue: 10680
Compiling final catalogue...
Compiling final catalogue...
Number of unfiltered entries: 591532
Catalogues included: ['BB2000.csv' 'Famaey2005.tsv' 'GCS2011.tsv' 'Galah.tsv' 'Malaroda2012.csv'
 'Maldonado2010.tsv' 'Pulkovo.tsv' 'RAVE-DR5.tsv' 'Web1995-HIP.csv'
 'Web1995-TYC2.csv']
Number of filtered entries: 590333
Number of RV objects: 590333
Number of total entries for hip: 56386
Number of uniq entries for hip: 36867

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:459: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Number of total entries for tycho2_id: 322882
Number of uniq entries for tycho2_id: 270658
Total number of uniq objects:307525

## Merging

In [19]:
#Catalogs
print("GAIA:",len(gaia))
print("HIPPARCOS:",len(hipparcos))
print("TYCHO:",len(tycho))
print("SIMBAD:",len(simbad))
print("RV:",len(rv))

GAIA: 2057050
HIPPARCOS: 117955
TYCHO: 1035445
SIMBAD: 118004
RV: 307525

In [20]:
#Converting hip column into string
mdb=database
cats=['hip','tycho2_id']
for cname in cats:
    mdb[cname]=mdb[cname].fillna('')
    mdb[cname]=mdb[cname].map(str)
dfstr=mdb.select_dtypes(['object'])
mdb[dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
mdb['hip']=mdb['hip'].apply(lambda x:x.replace('.0',''))

### Merging GAIA with RV

In [21]:
#gaiasrc=gaia
gaiasrc=database

cols=["tycho2_id","hip"]
rvgaia=pd.DataFrame()
for col in cols[::1],cols[::-1]:
    print("Merging by %s..."%col[0])
    result=pd.merge(left=gaiasrc[gaiasrc[col[0]]!=''],
                    right=rv[rv[col[0]]!=''],
                    on=col[0])
    result=result.drop("%s_y"%col[1],1)
    result=result.rename(columns={"%s_x"%col[1]:col[1]})
    print("Number of matchings for %s: %d"%(col[0],len(result)))
    rvgaia=rvgaia.append(result)

rvgaia=rvgaia.fillna('NULL')
print("Number of matches: %d"%len(rvgaia))

Merging by tycho2_id...
Number of matchings for tycho2_id: 230610
Merging by hip...
Number of matchings for hip: 37358
Number of matches: 267968

In [22]:
#Make all empty HIPs Nulls
rvgaia['hip']=rvgaia['hip'].map(lambda x:'NULL' if x=='' else x)
#Remove spaces from simbad names
rvgaia['name_simbad']=rvgaia['name_simbad'].map(lambda x:'NULL' if x=='' else x.replace(' ','_'))
#Convert Vmag to float and if ~ assign an arbitrary value of 123
rvgaia['Vmag_simbad']=rvgaia['Vmag_simbad'].map(lambda x:'123' if x=='~' or x=='' or x=='NULL' else x).map(float)
#NULL parallax to 0
pcols=['parallax','parallax_Hip','parallax_Hip2','parallax_Tyc','parallax_simbad']
for pcol in pcols:
    rvgaia[pcol]=rvgaia[pcol].map(lambda x:'0' if x=='NULL' else x).map(float)
#Left only not null Gaia,Hip parallaxe
rvgaia=rvgaia[(rvgaia.parallax>0)|(rvgaia.parallax_Hip>0)|(rvgaia.parallax_Hip2>0)]

In [23]:
print("Total:",len(rvgaia))
print("Hipparcos ID:",(rvgaia.hip!='NULL').sum())
print("Hipparcos ID:",(rvgaia.tycho2_id!='NULL').sum())

Total: 244589
Hipparcos ID: 37213
Hipparcos ID: 244589

**Result of merging database Gaia + Hip + Tyc2 + Simbad:**

Number of matchings for tycho2_id: 230610

Number of matchings for hip: 37358

Number of matches: 267968

**Result of merging database Gaia :**

Number of matchings for tycho2_id: 210263

Number of matchings for hip: 25925

Number of matches: 236188

In [24]:
rvgaia[['tycho2_id','hip','name_simbad','Vmag_simbad','RV','parallax_error_Hip']+pcols]

,tycho2_id,hip,name_simbad,Vmag_simbad,RV,parallax_error_Hip,parallax,parallax_Hip,parallax_Hip2,parallax_Tyc,parallax_simbad
0,55-72-1,NULL,NULL,123.000,2.061,NULL,2.090812,0.00,0.00,51.0,0.00
1,48-1138-1,NULL,NULL,123.000,-32.497,NULL,4.695800,0.00,0.00,-49.3,0.00
2,55-1269-1,NULL,NULL,123.000,-5.475,NULL,2.986565,0.00,0.00,-51.0,0.00
3,55-1181-1,NULL,NULL,123.000,-10.742,NULL,2.872148,0.00,0.00,0.0,0.00
4,55-1308-1,NULL,NULL,123.000,-13.173,NULL,2.510212,0.00,0.00,0.0,0.00
5,48-685-1,NULL,NULL,123.000,-3.081,NULL,7.380755,0.00,0.00,119.8,0.00
6,48-120-1,NULL,NULL,123.000,-34.862,NULL,3.150919,0.00,0.00,71.0,0.00
7,48-1076-1,NULL,NULL,123.000,55.321,NULL,5.466958,0.00,0.00,37.1,0.00
8,48-1215-1,NULL,NULL,123.000,-27.494,NULL,3.914086,0.00,0.00,0.0,0.00
9,55-551-1,NULL,NULL,123.000,17.492,NULL,1.018379,0.00,0.00,0.0,0.00
10,55-268-1,NULL,NULL,123.000,13.786,NULL,8.959076,0.00,0.00,0.0,0.00
11,48-1105-1,NULL,NULL,123.000,31.262,NULL,4.801969,0.00,0.00,0.0,0.00
12,55-640-1,NULL,NULL,123.000,-24.172,NULL,2.356541,0.00,0.00,0.0,0.00
13,55-998-1,NULL,NULL,123.000,-30.482,NULL,9.489073,0.00,0.00,0.0,0.00
14,55-642-1,NULL,NULL,123.000,45.639,NULL,4.611844,0.00,0.00,0.0,0.00
15,55-954-1,NULL,NULL,123.000,96.887,NULL,2.117780,0.00,0.00,0.0,0.00
16,55-112-1,NULL,NULL,123.000,-2.478,NULL,2.589476,0.00,0.00,0.0,0.00
17,55-357-1,NULL,NULL,123.000,-44.661,NULL,0.409471,0.00,0.00,43.0,0.00
18,58-1235-1,NULL,NULL,123.000,-75.582,NULL,5.032836,0.00,0.00,-2.9,0.00
19,58-1074-1,NULL,NULL,123.000,7.137,NULL,2.630356,0.00,0.00,0.0,0.00
20,58-1002-1,NULL,NULL,123.000,17.664,NULL,1.420445,0.00,0.00,0.0,0.00
21,58-1088-1,NULL,NULL,123.000,30.584,NULL,4.084051,0.00,0.00,-17.0,0.00
22,58-581-1,NULL,NULL,123.000,-2.627,NULL,0.820347,0.00,0.00,0.0,0.00
23,48-808-1,NULL,NULL,123.000,-2.185,NULL,0.880394,0.00,0.00,0.0,0.00
24,51-1086-1,NULL,NULL,123.000,13.930,NULL,1.371137,0.00,0.00,0.0,0.00
25,58-1117-1,NULL,NULL,123.000,-35.437,NULL,2.738638,0.00,0.00,0.0,0.00
26,58-500-1,NULL,NULL,123.000,0.046,NULL,3.309221,0.00,0.00,-20.1,0.00
27,51-531-1,NULL,NULL,123.000,40.508,NULL,5.141102,0.00,0.00,0.0,0.00
28,58-389-1,NULL,NULL,123.000,4.595,NULL,3.608735,0.00,0.00,0.3,0.00
29,59-75-1,NULL,NULL,123.000,-1.244,NULL,2.086899,0.00,0.00,-26.3,0.00
...,...,...,...,...,...,...,...,...,...,...,...
37319,,117971,HD_224167,8.620,-15.700,1.14,0.000000,4.71,3.78,0.0,3.78
37320,,117986,V*_V363_Peg,6.520,5.030,0.82,0.000000,4.37,4.93,0.0,4.93
37321,,118004,HD_224235,7.060,12.600,0.87,0.000000,6.31,6.08,0.0,6.08
37322,,118048,HR_9055,6.166,-0.630,0.77,0.000000,5.41,4.45,0.0,4.45
37323,,118054,HD_224315,6.860,-1.400,0.96,0.000000,9.16,8.93,0.0,8.93
37324,,118071,HR_9057,6.020,-11.200,0.73,0.000000,2.26,3.10,0.0,3.10
37325,,118076,HR_9058,6.249,-12.600,0.80,0.000000,2.66,3.37,0.0,3.37
37326,,118077,V*_V1022_Cas,5.561,10.300,0.69,0.000000,14.97,14.09,0.0,14.09
37327,,118114,*_gam02_Oct,5.724,27.200,0.51,0.000000,10.38,10.69,0.0,10.69
37328,,118131,*_psi_Peg,4.660,-6.590,0.69,0.000000,7.54,6.85,0.0,6.85
37329,,118169,HD_224464,7.630,3.100,1.00,0.000000,15.82,14.44,0.0,14.44
37330,,118176,HD_224474,7.110,-16.610,0.87,0.000000,1.70,2.00,0.0,2.00
37331,,118178,*_1_Cet,6.276,4.300,1.08,0.000000,6.71,5.24,0.0,5.24
37332,,118188,V*_R_Cas,4.800,-22.940,1.10,0.000000,9.37,7.95,0.0,7.95
37333,,118205,HD_224512,7.270,5.600,1.37,0.000000,8.07,8.49,0.0,8.49
37334,,118209,*_27_Psc,4.886,-0.200,0.83,0.000000,14.58,13.91,0.0,13.91
37335,,118212,BD+45_4378,9.620,5.800,2.82,0.000000,57.62,57.01,0.0,57.01
37336,,118224,HD_224544,6.515,-6.100,0.80,0.000000,1.75,1.61,0.0,1.61
37337,,118234,*_pi._Phe,5.133,-14.100,0.65,0.000000,12.70,11.35,0.0,11.35
37338,,118243,*_sig_Cas,4.997,-12.600,0.75,0.000000,2.14,0.72,0.0,0.72
37339,,118249,V*_S_Phe,6.930,5.200,0.87,0.000000,3.93,3.24,0.0,3.24
37340,,118257,CCDM_J23592+7448AB,7.960,-16.200,1.43,0.000000,7.36,6.42,0.0,6.42
37341,,118268,*_ome_Psc,4.012,-2.400,0.87,0.000000,30.78,31.26,0.0,31.26
37342,,118275,HD_224626,7.790,0.300,0.96,0.000000,8.11,8.20,0.0,8.20
37343,,118277,V*_BU_Scl,5.573,-5.100,0.81,0.000000,3.71,4.42,0.0,4.42
37344,,118278,HD_224619,7.460,22.100,1.04,0.000000,38.76,39.85,0.0,39.85
37345,,118284,HD_224641,8.000,13.300,4.22,0.000000,4.72,9.77,0.0,9.77
37346,,118297,HD_224656,7.870,16.500,0.79,0.000000,2.75,2.30,0.0,2.30
37347,,118307,V*_DQ_Psc,6.840,-30.900,0.93,0.000000,2.67,2.42,0.0,2.42
37348,,118322,*_eps_Tuc,4.470,8.800,0.57,0.000000,8.71,8.74,0.0,8.74

In [124]:
#if 1:
    #db.to_csv(TGAS_DIR+"AstroComp.csv",index=False)
    #database.to_csv(TGAS_DIR+"Astro.csv",index=False)
    #rvgaia.to_csv(SRC_DIR+"AstroRV.csv",index=False)

In [26]:
",".join(rvgaia.columns)

'hip,tycho2_id,ref_epoch,ra,ra_error,dec,dec_error,parallax,parallax_error,pmra,pmra_error,pmdec,pmdec_error,ra_dec_corr,ra_parallax_corr,ra_pmra_corr,ra_pmdec_corr,dec_parallax_corr,dec_pmra_corr,dec_pmdec_corr,parallax_pmra_corr,parallax_pmdec_corr,pmra_pmdec_corr,phot_g_mean_flux,phot_g_mean_flux_error,phot_g_mean_mag,l,b,ecl_lon,ecl_lat,Vmag_Hip,ra_Hip,dec_Hip,parallax_Hip,pmra_Hip,pmdec_Hip,ra_error_Hip,dec_error_Hip,parallax_error_Hip,pmra_error_Hip,pmdec_error_Hip,ra_dec_corr_Hip,ra_parallax_corr_Hip,dec_parallax_corr_Hip,ra_pmra_corr_Hip,dec_pmra_corr_Hip,parallax_pmra_corr_Hip,ra_pmdec_corr_Hip,dec_pmdec_corr_Hip,parallax_pmdec_corr_Hip,pmra_pmdec_corr_Hip,HenryDraperId_Hip,ra_Hip2,dec_Hip2,parallax_Hip2,parallax_error_Hip2,pmra_Hip2,pmra_error_Hip2,pmdec_Hip2,pmdec_error_Hip2,Hpmag_Hip2,e_Hpmag_Hip2,B-V_Hip2,e_B-V_Hip2,V-I_Hip2,Vmag_Tyc,ra_Tyc,dec_Tyc,parallax_Tyc,pmra_Tyc,pmdec_Tyc,ra_error_Tyc,dec_error_Tyc,parallax_error_Tyc,pmra_error_Tyc,pmdec_error_Tyc,ra_dec_corr_Tyc,ra_parallax_corr_Tyc,dec_parallax_corr_Tyc,ra_pmra_corr_Tyc,dec_pmra_corr_Tyc,parallax_pmra_corr_Tyc,ra_pmdec_corr_Tyc,dec_pmdec_corr_Tyc,parallax_pmdec_corr_Tyc,pmra_pmdec_corr_Tyc,HenryDraperId_Tyc,name_simbad,parallax_simbad,radial_vel_simbad,Vmag_simbad,sptype_simbad,ra_simbad,dec_simbad,pmra_simbad,pmdec_simbad,source,RAJ2000,DEJ2000,RV,eRV,CAT'

In [27]:
rvgaia[rvgaia.Vmag_simbad<6][['source','CAT','hip','tycho2_id','name_simbad','Vmag_simbad','parallax','parallax_error','parallax_Hip','parallax_error_Hip','radial_vel_simbad','RV','eRV']].sort_values('Vmag_simbad')

,source,CAT,hip,tycho2_id,name_simbad,Vmag_simbad,parallax,parallax_error,parallax_Hip,parallax_error_Hip,radial_vel_simbad,RV,eRV
29262,::hipparcos:simbad,Pulkovo.tsv,32349,,*_alf_CMa,-1.460,0.000000,NULL,379.21,1.58,-5.50,-5.50,1.40
29039,::hipparcos:simbad,Pulkovo.tsv,30438,,*_alf_Car,-0.740,0.000000,NULL,10.43,0.53,20.30,20.30,0.20
32718,::hipparcos:simbad,Pulkovo.tsv,69673,,*_alf_Boo,-0.050,0.000000,NULL,88.85,0.74,-5.19,-5.20,2.30
32928,::hipparcos:simbad,Maldonado2010.tsv,71683,,*_alf_Cen_A,0.010,0.000000,NULL,742.12,1.40,-21.40,-22.44,0.11
34769,::hipparcos:simbad,Pulkovo.tsv,91262,,*_alf_Lyr,0.030,0.000000,NULL,128.93,0.55,-20.60,-20.60,7.30
28302,::hipparcos:simbad,Pulkovo.tsv,24608,,*_alf_Aur,0.080,0.000000,NULL,77.29,0.89,29.19,29.50,6.50
28284,::hipparcos:simbad,Pulkovo.tsv,24436,,*_bet_Ori,0.130,0.000000,NULL,4.22,0.81,17.80,17.80,2.60
29809,::hipparcos:simbad,Maldonado2010.tsv,37279,,*_alf_CMi,0.370,0.000000,NULL,285.93,0.88,-3.2,-4.10,0.11
28730,::hipparcos:simbad,Famaey2005.tsv,27989,,*_alf_Ori,0.420,0.000000,NULL,7.63,1.64,21.91,21.91,0.51
26704,::hipparcos:simbad,Pulkovo.tsv,7588,,*_alf_Eri,0.460,0.000000,NULL,22.68,0.57,18.60,18.60,5.90
32631,::hipparcos:simbad,Pulkovo.tsv,68702,,*_bet_Cen,0.600,0.000000,NULL,6.21,0.56,5.90,5.90,1.60
35418,::hipparcos:simbad,Pulkovo.tsv,97649,,*_alf_Aql,0.760,0.000000,NULL,194.44,0.94,-26.60,-26.60,5.60
31901,::hipparcos:simbad,Pulkovo.tsv,60718,,*_alf_Cru,0.810,0.000000,NULL,10.17,0.67,11.90,11.90,1.60
27978,::hipparcos:simbad,Famaey2005.tsv,21421,,*_alf_Tau,0.860,0.000000,NULL,50.09,0.95,54.26,54.26,0.03
33699,::hipparcos:simbad,Pulkovo.tsv,80763,,*_alf_Sco,0.910,0.000000,NULL,5.40,1.68,-3.50,-3.50,1.60
29872,::hipparcos:simbad,Famaey2005.tsv,37826,,*_bet_Gem,1.140,0.000000,NULL,96.74,0.87,3.23,3.23,0.02
36923,::hipparcos:simbad,Pulkovo.tsv,113368,,*_alf_PsA,1.160,0.000000,NULL,130.08,0.92,6.50,6.50,0.90
32057,::hipparcos:simbad,Pulkovo.tsv,62434,,*_bet_Cru,1.250,0.000000,NULL,9.25,0.61,10.30,15.60,1.60
35819,::hipparcos:simbad,Pulkovo.tsv,102098,,*_alf_Cyg,1.250,0.000000,NULL,1.01,0.57,-4.90,-4.90,0.60
32927,::hipparcos:simbad,Maldonado2010.tsv,71681,,*_alf_Cen_B,1.330,0.000000,NULL,742.12,1.40,-20.7,-22.44,0.11
30938,::hipparcos:simbad,Pulkovo.tsv,49669,,*_alf_Leo,1.400,0.000000,NULL,42.09,0.79,5.9,5.90,1.60
29418,::hipparcos:simbad,Pulkovo.tsv,33579,,*_eps_CMa,1.500,0.000000,NULL,7.57,0.57,27.30,27.30,1.60
29775,::hipparcos:simbad,Pulkovo.tsv,36850,,*_alf_Gem,1.580,0.000000,NULL,63.27,1.23,5.40,5.40,3.70
34174,::hipparcos:simbad,Pulkovo.tsv,85927,,*_lam_Sco,1.620,0.000000,NULL,4.64,0.90,-3.00,-3.00,1.60
28389,::hipparcos:simbad,Pulkovo.tsv,25336,,*_gam_Ori,1.640,0.000000,NULL,13.42,0.98,18.2,18.20,1.60
31941,::hipparcos:simbad,Pulkovo.tsv,61084,,*_gam_Cru,1.640,0.000000,NULL,37.09,0.67,21.00,21.00,0.30
28400,::hipparcos:simbad,Pulkovo.tsv,25428,,*_bet_Tau,1.650,0.000000,NULL,24.89,0.88,9.2,9.20,1.60
28520,::hipparcos:simbad,Pulkovo.tsv,26311,,*_eps_Ori,1.690,0.000000,NULL,2.43,0.91,27.30,27.30,4.30
30544,::hipparcos:simbad,Pulkovo.tsv,45238,,*_bet_Car,1.690,0.000000,NULL,29.34,0.47,-5.10,-5.10,1.60
36507,::hipparcos:simbad,Pulkovo.tsv,109268,,*_alf_Gru,1.710,0.000000,NULL,32.16,0.82,10.90,10.90,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28448,::hipparcos:simbad,Famaey2005.tsv,25816,,HD_36040,5.991,0.000000,NULL,8.45,0.81,13.82,13.82,0.25
34802,::hipparcos:simbad,Pulkovo.tsv,91525,,HR_7028,5.992,0.000000,NULL,5.79,0.51,-21.10,-21.10,1.60
18968,gaia::hipparcos:simbad,Pulkovo.tsv,84631,,HD_156653,5.992,8.076158,0.694755,8.12,0.79,4.00,4.00,1.60
30564,::hipparcos:simbad,Pulkovo.tsv,45418,,HR_3691,5.993,0.000000,NULL,6.24,0.52,16.00,16.00,1.60
32527,::hipparcos:simbad,Famaey2005.tsv,67545,,HR_5205,5.993,0.000000,NULL,8.09,0.81,-25.31,-25.31,0.23
34605,::hipparcos:simbad,Famaey2005.tsv,89827,,HR_6867,5.993,0.000000,NULL,4.98,0.62,-38.39,-38.39,0.20
23670,gaia::hipparcos:simbad,GCS2011.tsv,78665,,HR_5970,5.993,17.331505,0.466092,18.28,0.90,27.40,27.50,0.10
28634,::hipparcos:simbad,Pulkovo.tsv,27265,,*_129_Tau,5.994,0.000000,NULL,3.71,0.91,17.50,17.50,1.60
34245,::hipparcos:simbad,Famaey2005.tsv,86561,,HR_6607,5.994,0.000000,NULL,9.83,0.48,-6.51,-6.51,0.24
28220,::hipparcos:simbad,Pulkovo.tsv,23766,,HR_1624,5.994,0.000000,NULL,5.79,0.83,-45.20,-45.20,5.40
27460,::hipparcos:simbad,Pulkovo.tsv,15241,,V*_V573_Per,5.994,0.000000,NULL,5.92,1.01,17.00,17.00,1.00
3821,gaia::hipparcos:simbad,Famaey2005.tsv,50546,,HD_89319,5.995,24.102858,0.576889,23.08,0.72,-6.93,-7.27,0.20
35350,::hipparcos:simbad,Pulkovo.tsv,96840,,V*_QS_Aql,5.996,0.000000,NULL,1.98,0.82,-16.13,-16.90,1.60
33870,::hipparcos:simbad,Pulkovo.tsv,82806,,HD_152082,5.996,0.000000,NULL,7.27,0.84,-8.60,-8.60,1.60
22036,gaia::hipparcos:simbad,Pulkovo.tsv,39122,,HD_66210,5.996,9.513490,0.30173,8.65,0.48,12.30,12.30,1.60
13721,gaia::hipparcos:simbad,Pulkovo.tsv,37843,,*_2_Pup_A,5.997,12.243441,0.627311,9.09,1.94,25.20,25.20,1.20
35969,::hipparcos:simbad,Pulkovo.tsv,103734,,HR_8051,5.997,0.000000,NULL,4.96,0.57,-8.80,-8.80,0.20
27949,::hipparcos:simbad,GCS2011.tsv,21137,,*_85_Tau,5.998,0.000000,NULL,22.25,1.14,36.00,36.00,0.40
13691,gaia::hipparcos:simbad,Pulkovo.tsv,29711,,HD_43319,5.998,14.364788,0.750931,15.03,0.76,29.80,29.80,1.30
2124,gaia::hipparcos:simbad,Pulkovo.tsv,10729,,*_chi_Per,5.998,4.263766,0.42338,4.59,0.69,-12.50,-12.50,0.20
26256,::hipparcos:simbad,Pulkovo.tsv,3137,,HR_171,5.998,0.000000,NULL,10.75,0.71,7.90,7.90,1.60
21318,gaia::hipparcos:simbad,Pulkovo.tsv,43620,,HD_76346,5.998,10.464323,0.372432,11.01,0.45,23.90,23.90,1.60
8364,gaia::hipparcos:simbad,Famaey2005.tsv,102080,,*_10_Del,5.998,6.419312,0.467581,6.68,0.75,-25.15,-25.15,0.20
32884,::hipparcos:simbad,Famaey2005.tsv,71277,,HR_5448,5.999,0.000000,NULL,5.74,0.83,-9.88,-9.88,0.20
36828,::hipparcos:simbad,Famaey2005.tsv,112241,,HD_215359,5.999,0.000000,NULL,5.04,0.81,-25.01,-25.01,0.24
26443,::hipparcos:simbad,Pulkovo.tsv,4962,,CCDM_J01036+6104AB,5.999,0.000000,NULL,2.16,0.87,-0.9,-0.90,1.60
26963,::hipparcos:simbad,GCS2011.tsv,10215,,HR_638,5.999,0.000000,NULL,20.00,0.94,14.50,15.10,0.20
26961,::hipparcos:simbad,Famaey2005.tsv,10203,,*_16_Ari,5.999,0.000000,NULL,4.07,0.90,-15.74,-15.74,0.20
32591,::hipparcos:simbad,Famaey2005.tsv,68279,,HR_5254,5.999,0.000000,NULL,6.14,0.77,-40.21,-40.21,0.19
35506,::hipparcos:simbad,Pulkovo.tsv,98575,,HR_7643,5.999,0.000000,NULL,10.42,0.78,8.90,8.90,1.60

In [28]:
(rvgaia.Vmag_simbad<6).sum()

4568

In [126]:
#cond=rvgaia.Vmag_simbad!='NULL'
#rvgaia_sel=rvgaia[cond]
#rvgaia_sel["Vmag_simbad"]=rvgaia_sel["Vmag_simbad"].map(lambda x:float(x) if x!='~' else 25).astype(float)
#cond=rvgaia.Vmag_simbad<5
#rvgaia_sel=rvgaia_sel[cond]

In [ ]:
#HIPPARCOS VAN LEEUWEN
#I/311/hip2
name="HipVanLeeuwen2007.tsv"
print("Building catalogue %s..."%name)
comments=list(range(95))+[96,97]
hipvan=pd.read_csv(HIPTYC_DIR+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    hipvan[cname]=hipvan[cname].fillna('')
    hipvan[cname]=hipvan[cname].map(str)
dfstr=hipvan.select_dtypes(['object'])
hipvan[dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(hipvan))
hipvan.rename(columns=dict(HIP='hip'),inplace=True)
hipvan.fillna('NULL',inplace=True)
hipvan["n_HIP"]=hipvan["n_HIP"].map(lambda x:'NULL' if x=='' else x.replace(' ','_'))
ncols=dict()
for col in hipvan.columns:
    ncols[col]=col+"_Hip2" if col!='hip' else col
hipvan.rename(columns=ncols,inplace=True)
hipvan=hipvan[['_RAJ2000_Hip2', '_DEJ2000_Hip2', 'hip', 'Plx_Hip2', 'e_Plx_Hip2', 'pmRA_Hip2', 'e_pmRA_Hip2',
       'pmDE_Hip2', 'e_pmDE_Hip2','Hpmag_Hip2', 'e_Hpmag_Hip2', 'B-V_Hip2', 'e_B-V_Hip2', 'V-I_Hip2']]
columns={'_RAJ2000_Hip2':'ra_Hip2', '_DEJ2000_Hip2':'dec_Hip2', 'hip':'hip', 
         'Plx_Hip2':'parallax_Hip2', 'e_Plx_Hip2':'parallax_error_Hip2', 
         'pmRA_Hip2':'pmra_Hip2', 'e_pmRA_Hip2':'pmra_error_Hip2',
         'pmDE_Hip2':'pmdec_Hip2', 'e_pmDE_Hip2':'pmra_error_Hip2'}
hipvan.rename(columns=columns,inplace=True)

In [30]:
hipvan.columns

Index(['ra_Hip2', 'dec_Hip2', 'hip', 'parallax_Hip2', 'parallax_error_Hip2',
       'pmra_Hip2', 'pmra_error_Hip2', 'pmdec_Hip2', 'pmdec_error_Hip2',
       'Hpmag_Hip2', 'e_Hpmag_Hip2', 'B-V_Hip2', 'e_B-V_Hip2', 'V-I_Hip2'],
      dtype='object')

In [31]:
hipparcos.hip=hipparcos.hip.map(str)

In [41]:
rvgaia[(rvgaia.tycho2_id == '7207-1734-1')]

,hip,tycho2_id,ref_epoch,ra,ra_error,dec,dec_error,parallax,parallax_error,pmra,...,ra_simbad,dec_simbad,pmra_simbad,pmdec_simbad,source,RAJ2000,DEJ2000,RV,eRV,CAT
108328,NULL,7207-1734-1,2015,163.359,0.385439,-35.0906,0.249956,1.013968,0.603117,-2.20923,...,NULL,NULL,NULL,NULL,gaia:::,163.35933,-35.09064,4.339,1.189,RAVE-DR5.tsv