NOTE: Run first the last line

# Build AstroRV Catalog

This notebook is aimed to build the AstroRV catalog, a complete compilation of astrometric and radial velocities information of nearby stars. 

This catalog was originally aimed at studying the interstellar origin probability for objects approaching the Solar System in unbound orbits

## Sources

In [1]:
#GAIA SOURCES
TGAS_DIR="DataGAIA/Data-Gaia/"

#SIMBAD SOURCES
SIMBAD_DIR="DataGAIA/Data-Simbad/"

#TYCHO2/HIPPARCOS SOURCES
HIPTYC_DIR="DataGAIA/Data-Hipparcos/"

#RADIAL VELOCITY SOURCES
RV_DIR="RVGaia/RV/"

## Read input catalogs

### GAIA

In [4]:
# =============================================================================
# LECTURA DE ARCHIVOS DE GAIA
# =============================================================================

# Description:

# hip : Hipparcos identifier (int).
# tycho2_id : Tycho 2 identifier (string).
# ref_epoch : Reference epoch (double, Time[Julian Years]), expressed as a Julian Year in TCB.
# ra : Right ascension (double, Angle[deg]). Barycentric right ascension of the source in ICRS.
# ra error : Standard error of right ascension (double, Angle[mas]).
# dec : Declination (double, Angle[deg]). Barycentric declination of the source in ICRS.
# dec error : Standard error of declination (double, Angle[mas]).
# parallax : Parallax (double, Angle[mas]). Absolute barycentric stellar parallax of the source.
# parallax error : Standard error of parallax (double, Angle[mas]).
# pmra : Proper motion in right ascension direction (double, Angular Velocity[mas/year].
# pmra error : Standard error of proper motion in right ascension direction (double, Angular Velocity[mas/year]).
# pmdec : Proper motion in declination direction (double, Angular Velocity[mas/year].
# pmdec error : Standard error of proper motion in declination direction (double, Angular Velocity[mas/year]).
# phot g mean mag : G-band mean magnitude (double, Magnitude[mag]) Mean magnitude in the G band.
# l : Galactic longitude (double, Angle[deg]).
# b : Galactic latitude (double, Angle[deg]).

cols_gaia = ["hip", "tycho2_id", "ra", "ra_error", "dec", "dec_error", "parallax", "parallax_error", "pmra", "pmra_error", \
        "pmdec", "pmdec_error", "ra_dec_corr", "ra_parallax_corr", "ra_pmra_corr", "ra_pmdec_corr", "dec_parallax_corr", \
        "dec_pmra_corr", "dec_pmdec_corr", "parallax_pmra_corr", "parallax_pmdec_corr", "pmra_pmdec_corr", \
        "phot_g_mean_flux", "phot_g_mean_flux_error", "phot_g_mean_mag", "l", "b", "ecl_lon", "ecl_lat"]

for i in range(16):
    filename = TGAS_DIR + "TgasSource_000-000-0" + str(i).zfill(2) + ".csv.gz"
    if i == 0:
        print("Reading", filename)
        gaia = pd.read_csv(filename, usecols=cols_gaia)
    else:
        print("Reading", filename)
        DRx = pd.read_csv(filename, usecols=cols_gaia)
        gaia = gaia.append(DRx)

gaia = pd.DataFrame(gaia)

gaia_hip = gaia[gaia.hip.notnull()]
gaia_tyc = gaia[gaia.tycho2_id.notnull()]

print("Gaia: Subset Hipparcos:", len(gaia_hip))
print("Gaia: Subset Tycho-2:", len(gaia_tyc))
print("Total Gaia:", len(gaia))

Reading DataGAIA/Data-Gaia/TgasSource_000-000-000.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-001.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-002.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-003.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-004.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-005.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-006.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-007.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-008.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-009.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-010.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-011.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-012.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-013.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-014.csv.gz
Reading DataGAIA/Data-Gaia/TgasSource_000-000-015.csv.gz
Gaia: Subset Hipparcos: 93635
Gaia: Subset Tycho-2: 1963415
Total Gaia: 2057050

### HIPPARCOS

In [5]:
# Información disponible en: http://cdsarc.u-strasbg.fr/viz-bin/Cat?cat=I%2F239&target=readme&#sRM2.1
names_hip={}
names_hip[1] = "hip"
names_hip[8] = "ra_Hip"
names_hip[9] = "dec_Hip"
names_hip[11] = "parallax_Hip"
names_hip[12] = "pmra_Hip"
names_hip[13] = "pmdec_Hip"
names_hip[14] = "ra_error_Hip"
names_hip[15] = "dec_error_Hip"
names_hip[16] = "parallax_error_Hip"
names_hip[17] = "pmra_error_Hip"
names_hip[18] = "pmdec_error_Hip"
names_hip[19] = "ra_dec_corr_Hip"
names_hip[20] = "ra_parallax_corr_Hip"
names_hip[21] = "dec_parallax_corr_Hip"
names_hip[22] = "ra_pmra_corr_Hip"
names_hip[23] = "dec_pmra_corr_Hip"
names_hip[24] = "parallax_pmra_corr_Hip"
names_hip[25] = "ra_pmdec_corr_Hip"
names_hip[26] = "dec_pmdec_corr_Hip"
names_hip[27] = "parallax_pmdec_corr_Hip"
names_hip[28] = "pmra_pmdec_corr_Hip"
names_hip[71] = "HenryDraperId_Hip"
names_hip[5] = "Vmag_Hip"
#names_hip[76] = "sptype_Hip"

names_hip = collections.OrderedDict(sorted(names_hip.items()))

hipparcos = pd.read_csv(HIPTYC_DIR+"hip_main.dat.gz", delimiter="|", usecols = names_hip.keys(),  names = names_hip.values())
hipparcos = pd.DataFrame(hipparcos)

# Descartar elementos con paralajes nulos

n1 = len(hipparcos)
#hipparcos.apply(pd.to_numeric, errors="coerce").info()                                # Convierte la información en tipo float

hipparcos["ra_Hip"] = pd.to_numeric(hipparcos["ra_Hip"], errors="coerce")             # Convierte en np.nan los valores no numer.
hipparcos["dec_Hip"] = pd.to_numeric(hipparcos["dec_Hip"], errors="coerce")           # Convierte en np.nan los valores no numer.
hipparcos["parallax_Hip"] = pd.to_numeric(hipparcos["parallax_Hip"], errors="coerce") # Convierte en np.nan los valores no numer.
hipparcos["Vmag_Hip"] = pd.to_numeric(hipparcos["Vmag_Hip"], errors="coerce")         # Convierte en np.nan los valores no numer.
hipparcos.dropna(subset=["ra_Hip", "dec_Hip", "parallax_Hip"], inplace=True)          # Elimina los registros con paralaje nulo
hipparcos["source"]="hipparcos"


n2 = len(hipparcos)
print("Objects discarded:", n1-n2)

len(hipparcos)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Objects discarded: 263

117955

### TYCHO

In [6]:
# Información disponible en: http://cdsarc.u-strasbg.fr/viz-bin/Cat?cat=I%2F239&target=readme&#sRM2.13
names_tyc={}
names_tyc[1] = "tycho2_id"
names_tyc[8] = "ra_Tyc"
names_tyc[9] = "dec_Tyc"
names_tyc[11] = "parallax_Tyc"
names_tyc[12] = "pmra_Tyc"
names_tyc[13] = "pmdec_Tyc"
names_tyc[14] = "ra_error_Tyc"
names_tyc[15] = "dec_error_Tyc"
names_tyc[16] = "parallax_error_Tyc"
names_tyc[17] = "pmra_error_Tyc"
names_tyc[18] = "pmdec_error_Tyc"
names_tyc[19] = "ra_dec_corr_Tyc"
names_tyc[20] = "ra_parallax_corr_Tyc"
names_tyc[21] = "dec_parallax_corr_Tyc"
names_tyc[22] = "ra_pmra_corr_Tyc"
names_tyc[23] = "dec_pmra_corr_Tyc"
names_tyc[24] = "parallax_pmra_corr_Tyc"
names_tyc[25] = "ra_pmdec_corr_Tyc"
names_tyc[26] = "dec_pmdec_corr_Tyc"
names_tyc[27] = "parallax_pmdec_corr_Tyc"
names_tyc[28] = "pmra_pmdec_corr_Tyc"
names_tyc[53] = "HenryDraperId_Tyc"
names_tyc[5] = "Vmag_Tyc"

names_tyc = collections.OrderedDict(sorted(names_tyc.items()))

tycho = pd.read_csv(HIPTYC_DIR+"tyc_main.dat", delimiter="|", usecols = names_tyc.keys(), names = names_tyc.values())
tycho = pd.DataFrame(tycho)

# Dividir la cadena de texto en los 3 campos numéricos que componen el ID de Tycho_2 (separados por espacios en blanco)
tycho["a"], tycho["b"], tycho["c"] = tycho["tycho2_id"].str.split().str

# Concatenar los 3 campos numéricos que componen el ID de Tycho_2, separados por guión.
tycho["tycho2_id"] = tycho["a"] + "-" + tycho["b"] + "-" + tycho["c"]

# Borrar campos usados para la conversión
del tycho["a"], tycho["b"], tycho["c"]

# Descartar elementos con paralajes nulos

n1 = len(tycho)
#tycho.apply(pd.to_numeric, errors="coerce").info()                           # Convierte la información en tipo float

tycho["ra_Tyc"] = pd.to_numeric(tycho["ra_Tyc"], errors="coerce")             # Convierte en np.nan los valores no numéricos
tycho["dec_Tyc"] = pd.to_numeric(tycho["dec_Tyc"], errors="coerce")           # Convierte en np.nan los valores no numéricos
tycho["parallax_Tyc"] = pd.to_numeric(tycho["parallax_Tyc"], errors="coerce") # Convierte en np.nan los valores no numéricos
tycho["Vmag_Tyc"] = pd.to_numeric(tycho["Vmag_Tyc"], errors="coerce")         # Convierte en np.nan los valores no numéricos
tycho.dropna(subset=["ra_Tyc", "dec_Tyc", "parallax_Tyc"], inplace=True)      # Elimina los registros con paralaje nulo
tycho["source"]="tycho"

n2 = len(tycho)
print("Objects discarded:", n1-n2)

len(tycho)

Objects discarded: 22887

1035445

### SIMBAD

In [7]:
cols = ["typedident","identifier", "radvel", "coord1(ICRS,J2000/2000)", "plx", "pm", "MagV", "spec.type"]
simbad = pd.read_csv(SIMBAD_DIR+"simbad.csv", usecols=cols, delimiter="|")
simbad = pd.DataFrame(simbad)

# Modificación del ID del catálogo para que quede en formato INTEGER
simbad["hip"] = simbad["typedident"].map(lambda x: str(x)[4:]).astype(float)
del simbad["typedident"]

simbad["plx"] = pd.to_numeric(simbad["plx"], errors="coerce")   

# Cálculo de RA y DEC
# 1. Eliminar espacios en blanco de los lados izquierdo y derecho de cada cadena de texto
simbad["coord1(ICRS,J2000/2000)"] = simbad["coord1(ICRS,J2000/2000)"].str.strip()

# 2. Dividir la cadena de texto en 6 campos (hh:mm:ss para RA y hh:mm:ss para DEC)
simbad["ra_h"], simbad["ra_m"], simbad["ra_s"], simbad["dec_h"], simbad["dec_m"], simbad["dec_s"] = \
    simbad["coord1(ICRS,J2000/2000)"].str.split(" ").str

# 3. Concatenar los 3 primeros campos mediante la fórmula de conversión de hh:mm:ss a grados para la ascensión recta
simbad["ra_simbad"] = simbad["ra_h"].astype(float)*15 + simbad["ra_m"].astype(float)/60 + simbad["ra_s"].astype(float)/3600

# 4. Concatenar los 3 últimos campos mediante la fórmula de conversión de hh:mm:ss a grados para la declinación
simbad["dec_simbad"] = np.sign(simbad["dec_h"].astype(float)) * ( \
    np.abs(simbad["dec_h"].astype(float)) + simbad["dec_m"].astype(float)/60 + simbad["dec_s"].astype(float)/3600 )

# 5. Borrar campos usados para la conversión
del simbad["coord1(ICRS,J2000/2000)"]
del simbad["ra_h"], simbad["ra_m"], simbad["ra_s"], simbad["dec_h"], simbad["dec_m"], simbad["dec_s"]

# Cálculo del movimiento propio
# 1. Eliminar espacios en blanco de los lados izquierdo y derecho de cada cadena de texto
simbad["pm"] = simbad["pm"].str.strip()

#2. Dividir la cadena de texto en 2 campos (PM_RA y PM_DEC)
simbad["pmra_simbad"], simbad["pmdec_simbad"] = simbad["pm"].str.split(" ").str

# 3. Borrar campos usados para la conversión
del simbad["pm"]

# 4. Elimina los registros con paralaje nulo
n1 = len(simbad)
simbad.dropna(subset=["ra_simbad", "dec_simbad", "plx"], inplace=True)      
n2 = len(simbad)
print("Objects discarded:", n1-n2)

# Formato velocidad radial
simbad["radvel"] = simbad["radvel"].str.strip()                   # Elimina espacios en blanco
simbad["radvel"] = simbad["radvel"].replace("~", np.nan)          # Reemplaza el caracter "~" por Null

# Modificar nombre de algunas columnas
simbad = simbad.rename(columns={"identifier": "name_simbad"})      # Modifica el nombre de la columna de nombres propios
simbad = simbad.rename(columns={"plx": "parallax_simbad"})         # Modifca el nombre de la columna de paralajes
simbad = simbad.rename(columns={"spec.type": "sptype_simbad"})     # Modifca el nombre de la columna de clasificación espectral
simbad = simbad.rename(columns={"radvel": "radial_vel_simbad"})    # Modifica el nombre de la columna de velocidades radiales
simbad = simbad.rename(columns={"MagV": "Vmag_simbad"})            # Modifica el nombre de la columna de magnitud V
simbad["source"]="simbad"

len(simbad)

Objects discarded: 175

118004

## Merging

### Merging with common fields

In [8]:
# db = Gaia + Hipparcos
gaia["source"] = "gaia"
exclusive_hip = hipparcos[~hipparcos.hip.isin(gaia_hip.hip)]
exclusive_hip.rename(columns=lambda x: x.replace("_Hip", ""), inplace=True)
exclusive_hip["source"] = "hipparcos"
db = pd.concat([gaia, exclusive_hip], axis=0)
print("Aporte Hipparcos:", len(exclusive_hip))

# db = db + Tycho
exclusive_tyc = tycho[~tycho.tycho2_id.isin(gaia_tyc.tycho2_id)]
exclusive_tyc.rename(columns=lambda x: x.replace("_Tyc", ""), inplace=True)
exclusive_tyc["source"] = "tycho"
db = pd.concat([db, exclusive_tyc], axis=0)
print("Aporte Tycho:", len(exclusive_tyc))

# db = db + Simbad
exclusive_simbad = simbad[~simbad.hip.isin(db.hip)]
exclusive_simbad.rename(columns=lambda x: x.replace("_simbad", ""), inplace=True)
exclusive_simbad = exclusive_simbad.loc[:,["hip", "ra", "dec", "parallax", "pmra", "pmdec"]]
exclusive_simbad["source"] = "simbad"
db = pd.concat([db, exclusive_simbad], axis=0)
print("Aporte Simbad:", len(exclusive_simbad))

# db = db + todos los elementos de Simbad [nombre_star, tipo_espectral, velocidad_radial, Vmag]
db = db.merge(simbad.loc[:,["hip", "name_simbad","sptype_simbad","radial_vel_simbad","Vmag_simbad"]], \
              left_on="hip", right_on="hip", how="left")

# Organizar columnas
cols = ["source"] + cols_gaia + ["Vmag","HenryDraperId"] + ["name_simbad","sptype_simbad","radial_vel_simbad","Vmag_simbad"]
db = db[cols]
db = db.reset_index(drop=True)

# Resultado
print("Tamaño total:", len(db))

Aporte Hipparcos: 24320
Aporte Tycho: 259824
Aporte Simbad: 67
Tamaño total: 2341261

### Merging with all fields

In [9]:
n1 = len(gaia)
print("Tamaño inicial de la base de datos alimentada con Gaia:", n1)

database = gaia.merge(hipparcos, left_on="hip", right_on="hip", how="outer")
n2 = len(database)
print("Tamaño de Hipparcos:", len(hipparcos), "Tamaño final de la base de datos maestra:", n2, ". Aporte:", n2-n1)

database = database.merge(tycho, left_on="tycho2_id", right_on="tycho2_id", how="outer")
n3 = len(database)
print("Tamaño de Tycho:", len(tycho), "Tamaño final de la base de datos maestra:", n3, ". Aporte:", n3-n2)

database = database.merge(simbad, left_on="hip", right_on="hip", how="outer")
n4 = len(database)
print("Tamaño de Simbad:", len(simbad), "Tamaño final de la base de datos maestra:", n4, ". Aporte:", n4-n3)

sources=database[['source_x','source_y']].fillna('')
sources.columns=['s1','s2','s3','s4']
database["source"]=sources["s1"].astype(str)+":"+sources["s2"]+":"+sources["s3"]+":"+sources["s4"]
del(database["source_x"])
del(database["source_y"])

database = database.reset_index(drop=True)

Tamaño inicial de la base de datos alimentada con Gaia: 2057050
Tamaño de Hipparcos: 117955 Tamaño final de la base de datos maestra: 2081370 . Aporte: 24320
Tamaño de Tycho: 1035445 Tamaño final de la base de datos maestra: 2341194 . Aporte: 259824
Tamaño de Simbad: 118004 Tamaño final de la base de datos maestra: 2341261 . Aporte: 67

## Radial velocities

### RV Catalogues

In [15]:
data=dict()
match=dict()
RVcat=pd.DataFrame()
srcdir=RV_DIR

###################################################
#READ CATALOGUES
###################################################
#MALDONADO2010
#J/A+A/521/A12/table1
name="Maldonado2010.tsv"
print("Building catalogue %s..."%name)
comments=list(range(82))+[83,84]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"]
df["eRV"]=data[name]["e_RV"]
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#WEB1995
#III/213/catalog
name="Web1995-HIP.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#WEB1995-TYC2
#III/213/catalog
name="Web1995-TYC2.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['TYC2','HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#GCS2011
#J/A+A/530/A138/catalog
name="GCS2011.tsv"
print("Building catalogue %s..."%name)
comments=list(range(174))+[175,176]
data[name]=pd.read_csv(srcdir+name,sep="|",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#RAVE-DR5
#III/279/rave_dr5
name="RAVE-DR5.tsv"
print("Building catalogue %s..."%name)
comments=list(range(78))+[79,80]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['TYCHO2']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
data[name]["TYC2"]=data[name]["TYCHO2"]
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="RAJ2000",DEJ2000="DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["HRV"].map(str)
df["eRV"]=data[name]["e_HRV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#PULKOVO
#III/252/table8
name="Pulkovo.tsv"
print("Building catalogue %s..."%name)
comments=list(range(61))+[62,63]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RA",DEJ2000="_DE")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["eRV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#FAMAEY2005
#J/A+A/430/165/tablea1
name="Famaey2005.tsv"
print("Building catalogue %s..."%name)
comments=list(range(118))+[119,120]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#BB2000
#III/213/catalogue
name="BB2000.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['TYC2','HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=data[name]["e_RV"].map(str)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#MALARODA2012
#III/249/catalog
name="Malaroda2012.csv"
print("Building catalogue %s..."%name)
data[name]=pd.read_csv(srcdir+name)
cats=['TYC2','HIP']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="_RAJ2000",DEJ2000="_DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=1.0;df["eRV"]=df["eRV"].map(str) #TYPICAL VALUE FOR OTHER CATALOGUES
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

#GALAH I
#J/MNRAS/465/3203/catal
name="Galah.tsv"
print("Building catalogue %s..."%name)
comments=list(range(54))+[55,56]
data[name]=pd.read_csv(srcdir+name,sep=";",skiprows=comments)
cats=['TYC2']
for cname in cats:
    data[name][cname]=data[name][cname].fillna('')
    data[name][cname]=data[name][cname].map(str)
dfstr=data[name].select_dtypes(['object'])
data[name][dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
print("Number of objects in %s:"%name,len(data[name]))
for cat in cats:
    cond=data[name][cat]!=''
    print("Number of objects in catalogue %s:"%cat,len(data[name][cat][cond]))
#STORING RESULTS
df=pd.DataFrame()
if not 'TYC2' in data[name].columns:df["TYC2"]=''
else:df["TYC2"]=data[name]["TYC2"]
if not 'HIP' in data[name].columns:df["HIP"]=''
else:df["HIP"]=data[name]["HIP"].apply(lambda x:x.replace('.0',''))
COORDS=dict(RAJ2000="RAJ2000",DEJ2000="DEJ2000")
for C in COORDS.keys():df[C]=data[name][COORDS[C]]
df["RV"]=data[name]["RV"].map(str)
df["eRV"]=0.6;df["eRV"]=df["eRV"].map(str) #Martell et al. (2017)
df["CAT"]=name
#ZERO ERRORS
cond=df.RV==''
df=df.drop(df.index[cond])
df.RV=df.RV.map(float)
df.eRV[df.eRV=='']=0.0
df.eRV=df.eRV.map(float)
med=df.eRV[df.eRV>0].median()
print("Median error:",med)
print("Number of entries with zero error:",len(df.eRV[df.eRV==0]))
df.eRV[df.eRV==0]=med
#RESULTING SIZE
print("Filtered catalogue:",len(df))
#FILLNA
RVcat=RVcat.append(df.fillna(''))

###################################################
#COMPILING FULL TABLE
###################################################
print("Compiling final catalogue...")
RVcat=RVcat.rename(columns={'TYC2':'tycho2_id','HIP':'hip'})
print("Compiling final catalogue...")
RVcatf=RVcat.reset_index(drop=True)
print("Number of unfiltered entries:",len(RVcatf))
print("Catalogues included:",np.unique(RVcat.CAT.values))
RVcatf.is_copy=False
cond=RVcatf.RV==''
RVcatf=RVcatf.drop(RVcatf.index[cond])
RVcatf.RV=RVcatf.RV.map(float)
cond=RVcatf.eRV==''
RVcatf=RVcatf.drop(RVcatf.index[cond])
RVcatf.eRV=RVcatf.eRV.map(float)
print("Number of filtered entries:",len(RVcatf))

RV=RVcatf
cats=['hip','tycho2_id']
for cname in cats:
    RV[cname]=RV[cname].fillna('')
    RV[cname]=RV[cname].map(str)
dfstr=RV.select_dtypes(['object'])
RV[dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
RV['hip']=RV['hip'].apply(lambda x:x.replace('.0',''))
print("Number of RV objects: %d"%len(RV))

RVCat=pd.DataFrame()
for col in "hip","tycho2_id":
    sel=RV[RV[col]!=''][[col,"eRV"]].sort_values([col,"eRV"])
    print("Number of total entries for %s: %d"%(col,len(sel)))
    index=sel[col].drop_duplicates().index
    uniq=RV.ix[index]
    print("Number of uniq entries for %s: %d"%(col,len(uniq)))
    RVCat=RVCat.append(uniq)

RVCat.to_csv(RV_DIR+"RVCat.csv",index=False)
print("Total number of uniq objects:%d"%len(RVCat))

rv=RVCat

Building catalogue Maldonado2010.tsv...
Number of objects in Maldonado2010.tsv: 495
Number of objects in catalogue HIP: 495
Median error: 0.11
Number of entries with zero error: 35
Filtered catalogue: 473
Building catalogue Web1995-HIP.csv...
Number of objects in Web1995-HIP.csv: 494
Number of objects in catalogue HIP: 494
Median error: 1.7
Number of entries with zero error: 0
Filtered catalogue: 494
Building catalogue Web1995-TYC2.csv...
Number of objects in Web1995-TYC2.csv: 673
Number of objects in catalogue TYC2: 673
Number of objects in catalogue HIP: 495
Median error: 1.9
Number of entries with zero error: 1
Filtered catalogue: 673
Building catalogue GCS2011.tsv...

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Number of objects in GCS2011.tsv: 16682
Number of objects in catalogue HIP: 14955
Median error: 0.4
Number of entries with zero error: 1678
Filtered catalogue: 14139
Building catalogue RAVE-DR5.tsv...
Number of objects in RAVE-DR5.tsv: 520701
Number of objects in catalogue TYCHO2: 309596
Median error: 1.189
Number of entries with zero error: 217
Filtered catalogue: 520701
Building catalogue Pulkovo.tsv...
Number of objects in Pulkovo.tsv: 35493
Number of objects in catalogue HIP: 35493
Median error: 1.6
Number of entries with zero error: 24715
Filtered catalogue: 35493
Building catalogue Famaey2005.tsv...
Number of objects in Famaey2005.tsv: 6690
Number of objects in catalogue HIP: 6690
Median error: 0.22
Number of entries with zero error: 0
Filtered catalogue: 6028
Building catalogue BB2000.csv...
Number of objects in BB2000.csv: 673
Number of objects in catalogue TYC2: 673
Number of objects in catalogue HIP: 495
Median error: 1.9
Number of entries with zero error: 1
Filtered catalogue: 673
Building catalogue Malaroda2012.csv...
Number of objects in Malaroda2012.csv: 2178
Number of objects in catalogue TYC2: 2178
Number of objects in catalogue HIP: 866
Median error: 1.0
Number of entries with zero error: 0
Filtered catalogue: 2178
Building catalogue Galah.tsv...
Number of objects in Galah.tsv: 10680
Number of objects in catalogue TYC2: 10680
Median error: 0.6
Number of entries with zero error: 0
Filtered catalogue: 10680
Compiling final catalogue...
Compiling final catalogue...
Number of unfiltered entries: 591532
Catalogues included: ['BB2000.csv' 'Famaey2005.tsv' 'GCS2011.tsv' 'Galah.tsv' 'Malaroda2012.csv'
 'Maldonado2010.tsv' 'Pulkovo.tsv' 'RAVE-DR5.tsv' 'Web1995-HIP.csv'
 'Web1995-TYC2.csv']
Number of filtered entries: 590333
Number of RV objects: 590333
Number of total entries for hip: 56386
Number of uniq entries for hip: 36867

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:459: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Number of total entries for tycho2_id: 322882
Number of uniq entries for tycho2_id: 270658
Total number of uniq objects:307525

## Merging

In [17]:
#Catalogs
print("GAIA:",len(gaia))
print("HIPPARCOS:",len(hipparcos))
print("TYCHO:",len(tycho))
print("SIMBAD:",len(simbad))
print("RV:",len(rv))

GAIA: 2057050
HIPPARCOS: 117955
TYCHO: 1035445
SIMBAD: 118004
RV: 307525

In [18]:
#Filtering results
database[['source','name_simbad','parallax','parallax_Hip','parallax_Tyc','parallax_simbad','radial_vel_simbad','Vmag_simbad']]

,source,name_simbad,parallax,parallax_Hip,parallax_Tyc,parallax_simbad,radial_vel_simbad,Vmag_simbad
0,gaia::hipparcos:simbad,HD 18667,6.352951,6.37,NaN,6.35,3.66,8.30
1,gaia::hipparcos:simbad,BD-00 483,9.957504,9.78,NaN,9.96,40.39,9.56
2,gaia::hipparcos:simbad,NLTT 9560,15.728640,15.54,NaN,15.73,NaN,9.77
3,gaia::hipparcos:simbad,HD 18682,5.746190,3.67,NaN,5.75,-69.00,7.78
4,gaia::hipparcos:simbad,BD+00 502,1.512226,4.62,NaN,1.51,-5.28,9.867
5,gaia::hipparcos:simbad,HD 18789,4.740228,3.85,NaN,4.74,-3.00,7.39
6,gaia::hipparcos:simbad,HD 18974,5.007318,6.38,NaN,5.01,22.00,7.75
7,gaia::hipparcos:simbad,HD 19002,7.694079,9.34,NaN,7.69,NaN,9.04
8,gaia::hipparcos:simbad,HD 18571,2.734405,0.67,NaN,2.73,18.00,8.63
9,gaia::hipparcos:simbad,HD 18582,5.867527,6.69,NaN,5.87,-18.31,7.78
10,gaia::hipparcos:simbad,HD 19305,67.888071,67.69,NaN,67.89,-30.78,9.055
11,gaia::hipparcos:simbad,HD 19271,2.506877,3.37,NaN,2.51,20.50,8.41
12,gaia::hipparcos:simbad,BD+01 531,5.161279,4.76,NaN,5.16,NaN,9.55
13,gaia::hipparcos:simbad,V* EI Cet,2.936046,2.38,NaN,2.94,-20.00,9.02
14,gaia::hipparcos:simbad,HD 19155,4.569750,4.49,NaN,4.57,11.40,8.44
15,gaia::hipparcos:simbad,HD 19304,6.148808,8.35,NaN,6.15,-16.60,8.18
16,gaia::hipparcos:simbad,BD+01 508,8.930454,12.60,NaN,8.93,NaN,9.39
17,gaia::hipparcos:simbad,HD 17872,6.278582,6.82,NaN,6.28,NaN,9.22
18,gaia::hipparcos:simbad,HD 18012,8.148667,8.56,NaN,8.15,-124.81,6.75
19,gaia::hipparcos:simbad,HD 18509,4.408145,4.41,NaN,4.41,17.02,7.55
20,gaia::hipparcos:simbad,HD 17677,7.716438,7.87,NaN,7.72,NaN,8.58
21,gaia::hipparcos:simbad,StKM 1-318,10.569676,4.09,NaN,6.07,NaN,11.800
22,gaia::hipparcos:simbad,BD+02 461,8.489064,8.16,NaN,8.49,NaN,9.89
23,gaia::hipparcos:simbad,HD 18826,4.537206,6.01,NaN,4.54,NaN,8.16
24,gaia::hipparcos:simbad,BD+03 422,5.504812,6.64,NaN,5.50,NaN,9.25
25,gaia::hipparcos:simbad,V* XY Cet,4.541918,4.72,NaN,4.54,-8.00,8.75
26,gaia::hipparcos:simbad,HD 18359,6.832442,5.57,NaN,6.83,26.6,7.57
27,gaia::hipparcos:simbad,HD 19575,1.298219,2.98,NaN,1.30,NaN,8.22
28,gaia::hipparcos:simbad,BD+02 489,5.970428,5.82,NaN,5.97,-1.29,10.88
29,gaia::hipparcos:simbad,HD 19648,7.721153,8.05,NaN,7.72,-1.90,7.46
...,...,...,...,...,...,...,...,...
2341231,:::simbad,2MASS J12075118-7555159,NaN,NaN,NaN,68.10,-3.4,10.11
2341232,:::simbad,BD-22 3332,NaN,NaN,NaN,21.33,NaN,10.085
2341233,:::simbad,BD+30 2342,NaN,NaN,NaN,6.78,NaN,10.7
2341234,:::simbad,HD 137661,NaN,NaN,NaN,5.77,NaN,9.67
2341235,:::simbad,Ross 805,NaN,NaN,NaN,-2.00,NaN,12.151
2341236,:::simbad,Ross 513,NaN,NaN,NaN,64.80,-42,12.440
2341237,:::simbad,HD 147970,NaN,NaN,NaN,4.76,0,6.13
2341238,:::simbad,HD 148408,NaN,NaN,NaN,17.04,-162.41,9.62
2341239,:::simbad,BD+26 2851C,NaN,NaN,NaN,1.00,NaN,11.35
2341240,:::simbad,BD-05 4325,NaN,NaN,NaN,24.33,NaN,10.60
2341241,:::simbad,V* V908 Her,NaN,NaN,NaN,75.41,-45.81,10.02
2341242,:::simbad,HD 150848,NaN,NaN,NaN,71.30,-20.3,9.92
2341243,:::simbad,L 203-138,NaN,NaN,NaN,4.07,-136,11.87
2341244,:::simbad,NLTT 44738,NaN,NaN,NaN,7.46,NaN,10.60
2341245,:::simbad,HIP 86405,NaN,NaN,NaN,-1.24,NaN,11.000
2341246,:::simbad,LTT 18478,NaN,NaN,NaN,25.16,-32.00,10.547
2341247,:::simbad,HD 230017,NaN,NaN,NaN,52.00,-17,9.42
2341248,:::simbad,BD+01 4003,NaN,NaN,NaN,13.08,NaN,10.79
2341249,:::simbad,HD 184704,NaN,NaN,NaN,7.68,NaN,9.66
2341250,:::simbad,Ross 165,NaN,NaN,NaN,85.10,0,13.6
2341251,:::simbad,CD-76 1023,NaN,NaN,NaN,14.78,-44.20,10.38
2341252,:::simbad,V* V375 Pav,NaN,NaN,NaN,70.00,72.0,11.33
2341253,:::simbad,BD-02 5239,NaN,NaN,NaN,2.92,NaN,9.17
2341254,:::simbad,L 353-23,NaN,NaN,NaN,22.50,25.83,12.19
2341255,:::simbad,EGGR 378,NaN,NaN,NaN,57.76,NaN,12.81
2341256,:::simbad,BD+48 3827,NaN,NaN,NaN,0.41,NaN,10.29
2341257,:::simbad,HIP 112465,NaN,NaN,NaN,198.07,NaN,12.00
2341258,:::simbad,BD-00 4470,NaN,NaN,NaN,18.60,-113.3,9.96
2341259,:::simbad,EC 04460-3215,NaN,NaN,NaN,0.96,-6,11.60
2341260,:::simbad,CPD-61 455,NaN,NaN,NaN,-0.17,NaN,11.20

In [19]:
#Converting hip column into string
mdb=database
cats=['hip','tycho2_id']
for cname in cats:
    mdb[cname]=mdb[cname].fillna('')
    mdb[cname]=mdb[cname].map(str)
dfstr=mdb.select_dtypes(['object'])
mdb[dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
mdb['hip']=mdb['hip'].apply(lambda x:x.replace('.0',''))

#Converting hip column into string
mdb=gaia
cats=['hip','tycho2_id']
for cname in cats:
    mdb[cname]=mdb[cname].fillna('')
    mdb[cname]=mdb[cname].map(str)
dfstr=mdb.select_dtypes(['object'])
mdb[dfstr.columns]=dfstr.apply(lambda x: x.str.strip())
mdb['hip']=mdb['hip'].apply(lambda x:x.replace('.0',''))

### Merging GAIA with RV

In [20]:
#gaiasrc=gaia
gaiasrc=database

cols=["tycho2_id","hip"]
rvgaia=pd.DataFrame()
for col in cols[::1],cols[::-1]:
    print("Merging by %s..."%col[0])
    result=pd.merge(left=gaiasrc[gaiasrc[col[0]]!=''],
                    right=rv[rv[col[0]]!=''],
                    on=col[0])
    result=result.drop("%s_y"%col[1],1)
    result=result.rename(columns={"%s_x"%col[1]:col[1]})
    print("Number of matchings for %s: %d"%(col[0],len(result)))
    rvgaia=rvgaia.append(result)

rvgaia=rvgaia.fillna('NULL')
rvgaia.to_csv(RV_DIR+"RVGaia_all.csv",index=False)
print("Number of matches: %d"%len(rvgaia))

Merging by tycho2_id...
Number of matchings for tycho2_id: 230610
Merging by hip...
Number of matchings for hip: 37358
Number of matches: 267968

**Result of merging database Gaia + Hip + Tyc2 + Simbad:**

Number of matchings for tycho2_id: 230610

Number of matchings for hip: 37358

Number of matches: 267968

**Result of merging database Gaia :**

Number of matchings for tycho2_id: 210263

Number of matchings for hip: 25925

Number of matches: 236188

In [50]:
",".join(rvgaia.columns)

'hip,tycho2_id,ra,ra_error,dec,dec_error,parallax,parallax_error,pmra,pmra_error,pmdec,pmdec_error,ra_dec_corr,ra_parallax_corr,ra_pmra_corr,ra_pmdec_corr,dec_parallax_corr,dec_pmra_corr,dec_pmdec_corr,parallax_pmra_corr,parallax_pmdec_corr,pmra_pmdec_corr,phot_g_mean_flux,phot_g_mean_flux_error,phot_g_mean_mag,l,b,ecl_lon,ecl_lat,source,Vmag_Hip,ra_Hip,dec_Hip,parallax_Hip,pmra_Hip,pmdec_Hip,ra_error_Hip,dec_error_Hip,parallax_error_Hip,pmra_error_Hip,pmdec_error_Hip,ra_dec_corr_Hip,ra_parallax_corr_Hip,dec_parallax_corr_Hip,ra_pmra_corr_Hip,dec_pmra_corr_Hip,parallax_pmra_corr_Hip,ra_pmdec_corr_Hip,dec_pmdec_corr_Hip,parallax_pmdec_corr_Hip,pmra_pmdec_corr_Hip,HenryDraperId_Hip,Vmag_Tyc,ra_Tyc,dec_Tyc,parallax_Tyc,pmra_Tyc,pmdec_Tyc,ra_error_Tyc,dec_error_Tyc,parallax_error_Tyc,pmra_error_Tyc,pmdec_error_Tyc,ra_dec_corr_Tyc,ra_parallax_corr_Tyc,dec_parallax_corr_Tyc,ra_pmra_corr_Tyc,dec_pmra_corr_Tyc,parallax_pmra_corr_Tyc,ra_pmdec_corr_Tyc,dec_pmdec_corr_Tyc,parallax_pmdec_corr_Tyc,pmra_pmdec_corr_Tyc,HenryDraperId_Tyc,name_simbad,parallax_simbad,radial_vel_simbad,Vmag_simbad,sptype_simbad,ra_simbad,dec_simbad,pmra_simbad,pmdec_simbad,DEJ2000,RAJ2000,RV,eRV,CAT'

In [52]:
rvgaia[['source','CAT','hip','tycho2_id','name_simbad','Vmag_simbad','parallax','parallax_error','parallax_Hip','parallax_error_Hip','radial_vel_simbad','RV','eRV']]

,source,CAT,hip,tycho2_id,name_simbad,Vmag_simbad,parallax,parallax_error,parallax_Hip,parallax_error_Hip,radial_vel_simbad,RV,eRV
0,gaia,RAVE-DR5.tsv,,55-72-1,NULL,NULL,2.09081,0.222206,NULL,NULL,NULL,2.061,1.073
1,gaia,RAVE-DR5.tsv,,48-1138-1,NULL,NULL,4.6958,0.956438,NULL,NULL,NULL,-32.497,0.844
2,gaia,RAVE-DR5.tsv,,55-1269-1,NULL,NULL,2.98656,0.776729,NULL,NULL,NULL,-5.475,1.515
3,gaia,RAVE-DR5.tsv,,55-1181-1,NULL,NULL,2.87215,0.906019,NULL,NULL,NULL,-10.742,1.079
4,gaia,RAVE-DR5.tsv,,55-1308-1,NULL,NULL,2.51021,0.283567,NULL,NULL,NULL,-13.173,1.558
5,gaia,RAVE-DR5.tsv,,48-685-1,NULL,NULL,7.38076,0.24651,NULL,NULL,NULL,-3.081,1.099
6,gaia,RAVE-DR5.tsv,,48-120-1,NULL,NULL,3.15092,0.353368,NULL,NULL,NULL,-34.862,2.549
7,gaia,RAVE-DR5.tsv,,48-1076-1,NULL,NULL,5.46696,0.249651,NULL,NULL,NULL,55.321,0.750
8,gaia,RAVE-DR5.tsv,,48-1215-1,NULL,NULL,3.91409,0.227634,NULL,NULL,NULL,-27.494,1.722
9,gaia,RAVE-DR5.tsv,,55-551-1,NULL,NULL,1.01838,0.517043,NULL,NULL,NULL,17.492,1.130
10,gaia,RAVE-DR5.tsv,,55-268-1,NULL,NULL,8.95908,0.235484,NULL,NULL,NULL,13.786,0.897
11,gaia,RAVE-DR5.tsv,,48-1105-1,NULL,NULL,4.80197,0.236402,NULL,NULL,NULL,31.262,1.195
12,gaia,RAVE-DR5.tsv,,55-640-1,NULL,NULL,2.35654,0.297326,NULL,NULL,NULL,-24.172,1.377
13,gaia,RAVE-DR5.tsv,,55-998-1,NULL,NULL,9.48907,0.256823,NULL,NULL,NULL,-30.482,1.056
14,gaia,RAVE-DR5.tsv,,55-642-1,NULL,NULL,4.61184,0.800921,NULL,NULL,NULL,45.639,0.990
15,gaia,RAVE-DR5.tsv,,55-954-1,NULL,NULL,2.11778,0.516769,NULL,NULL,NULL,96.887,3.169
16,gaia,RAVE-DR5.tsv,,55-112-1,NULL,NULL,2.58948,0.268524,NULL,NULL,NULL,-2.478,1.597
17,gaia,RAVE-DR5.tsv,,55-357-1,NULL,NULL,0.409471,0.824973,NULL,NULL,NULL,-44.661,12.948
18,gaia,RAVE-DR5.tsv,,58-1235-1,NULL,NULL,5.03284,0.251194,NULL,NULL,NULL,-75.582,0.888
19,gaia,RAVE-DR5.tsv,,58-1074-1,NULL,NULL,2.63036,0.508954,NULL,NULL,NULL,7.137,2.285
20,gaia,RAVE-DR5.tsv,,58-1002-1,NULL,NULL,1.42044,0.424441,NULL,NULL,NULL,17.664,1.378
21,gaia,RAVE-DR5.tsv,,58-1088-1,NULL,NULL,4.08405,0.867475,NULL,NULL,NULL,30.584,1.358
22,gaia,RAVE-DR5.tsv,,58-581-1,NULL,NULL,0.820347,0.265748,NULL,NULL,NULL,-2.627,1.309
23,gaia,RAVE-DR5.tsv,,48-808-1,NULL,NULL,0.880394,0.360748,NULL,NULL,NULL,-2.185,1.133
24,gaia,RAVE-DR5.tsv,,51-1086-1,NULL,NULL,1.37114,0.342386,NULL,NULL,NULL,13.930,1.997
25,gaia,RAVE-DR5.tsv,,58-1117-1,NULL,NULL,2.73864,0.255245,NULL,NULL,NULL,-35.437,2.759
26,gaia,RAVE-DR5.tsv,,58-500-1,NULL,NULL,3.30922,0.286257,NULL,NULL,NULL,0.046,3.408
27,gaia,RAVE-DR5.tsv,,51-531-1,NULL,NULL,5.1411,0.299035,NULL,NULL,NULL,40.508,2.305
28,gaia,RAVE-DR5.tsv,,58-389-1,NULL,NULL,3.60874,0.222828,NULL,NULL,NULL,4.595,2.585
29,gaia,RAVE-DR5.tsv,,59-75-1,NULL,NULL,2.0869,0.244909,NULL,NULL,NULL,-1.244,3.084
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37328,NULL,Famaey2005.tsv,118131,,* psi Peg,4.66,NULL,NULL,7.54,0.69,-6.59,-6.590,0.230
37329,NULL,Pulkovo.tsv,118169,,HD 224464,7.63,NULL,NULL,15.82,1.00,3.10,3.100,1.600
37330,NULL,Famaey2005.tsv,118176,,HD 224474,7.11,NULL,NULL,1.7,0.87,-16.61,-16.610,0.310
37331,NULL,Pulkovo.tsv,118178,,* 1 Cet,6.276,NULL,NULL,6.71,1.08,4.3,4.300,1.600
37332,NULL,Famaey2005.tsv,118188,,V* R Cas,4.80,NULL,NULL,9.37,1.10,-22.94,-22.940,0.720
37333,NULL,Pulkovo.tsv,118205,,HD 224512,7.27,NULL,NULL,8.07,1.37,5.60,5.600,1.600
37334,NULL,Pulkovo.tsv,118209,,* 27 Psc,4.886,NULL,NULL,14.58,0.83,-0.20,-0.200,1.600
37335,NULL,Pulkovo.tsv,118212,,BD+45 4378,9.62,NULL,NULL,57.62,2.82,5.80,5.800,6.400
37336,NULL,Pulkovo.tsv,118224,,HD 224544,6.515,NULL,NULL,1.75,0.80,-6.10,-6.100,0.200
37337,NULL,Pulkovo.tsv,118234,,* pi. Phe,5.133,NULL,NULL,12.7,0.65,-14.10,-14.100,1.600
37338,NULL,Pulkovo.tsv,118243,,* sig Cas,4.997,NULL,NULL,2.14,0.75,-12.60,-12.600,1.600
37339,NULL,Pulkovo.tsv,118249,,V* S Phe,6.93,NULL,NULL,3.93,0.87,5.20,5.200,1.600
37340,NULL,Pulkovo.tsv,118257,,CCDM J23592+7448AB,7.96,NULL,NULL,7.36,1.43,-16.20,-16.200,1.600
37341,NULL,GCS2011.tsv,118268,,* ome Psc,4.012,NULL,NULL,30.78,0.87,2.90,-2.400,2.600
37342,NULL,Pulkovo.tsv,118275,,HD 224626,7.79,NULL,NULL,8.11,0.96,0.30,0.300,1.600
37343,NULL,Pulkovo.tsv,118277,,V* BU Scl,5.573,NULL,NULL,3.71,0.81,-5.10,-5.100,1.600
37344,NULL,Pulkovo.tsv,118278,,HD 224619,7.46,NULL,NULL,38.76,1.04,21.04,22.100,1.600
37345,NULL,GCS2011.tsv,118284,,HD 224641,8.00,NULL,NULL,4.72,4.22,16.40,13.300,1.700
37346,NULL,Pulkovo.tsv,118297,,HD 224656,7.87,NULL,NULL,2.75,0.79,16.50,16.500,6.200
37347,NULL,Pulkovo.tsv,118307,,V* DQ Psc,6.84,NULL,NULL,2.67,0.93,-30.9,-30.900,1.600
37348,NULL,Pulkovo.tsv,118322,,* eps Tuc,4.47,NULL,NULL,8.71,0.57,8.80,8.800,1.600
37349,NULL,Pulkovo.tsv,9867,,LHS 1343,10.239,NULL,NULL,NULL,NULL,62,62.900,0.900
37350,NULL,Pulkovo.tsv,18045,,HD 24339,9.44,NULL,NULL,NULL,NULL,81.8,81.800,1.600
37351,NULL,Pulkovo.tsv,31067,,HD 45951,6.422,NULL,NULL,NULL,NULL,26.9,26.900,1.600
37352,NULL,Pulkovo.tsv,43820,,HD 75632,8.812,NULL,NULL,NULL,NULL,47.5,45.000,2.100
37353,NULL,Pulkovo.tsv,81694,,V* V908 Her,10.02,NULL,NULL,NULL,NULL,-45.81,-45.800,1.600
37354,NULL,Pulkovo.tsv,82904,,L 203-138,11.87,NULL,NULL,NULL,NULL,-136,-136.000,1.600
37355,NULL,Pulkovo.tsv,92836,,HD 230017,9.42,NULL,NULL,NULL,NULL,-17,-24.100,6.600
37356,NULL,Pulkovo.tsv,97237,,Ross 165,13.6,NULL,NULL,NULL,NULL,0,-5.800,6.000
37357,NULL,Pulkovo.tsv,112465,,HIP 112465,12.00,NULL,NULL,NULL,NULL,NULL,-0.500,1.300

In [40]:
cond=rvgaia.Vmag_simbad!='NULL'
rvgaia_sel=rvgaia[cond]
rvgaia_sel["Vmag_simbad"]=rvgaia_sel["Vmag_simbad"].map(lambda x:float(x) if x!='~' else 25).astype(float)
#cond=rvgaia.Vmag_simbad<5
#rvgaia_sel=rvgaia_sel[cond]

In [49]:
rvgaia_sel[rvgaia_sel.Vmag_simbad<2][['name_simbad','parallax','parallax_Hip','parallax_error_Hip','RV','eRV']]

       name_simbad parallax parallax_Hip parallax_error_Hip     RV   eRV
26704    * alf Eri     NULL        22.68               0.57  18.60  5.90
27509    * alf Per     NULL         5.51               0.66  -2.00  2.00
27978    * alf Tau     NULL        50.09               0.95  54.26  0.03
28284    * bet Ori     NULL         4.22               0.81  17.80  2.60
28302    * alf Aur     NULL        77.29               0.89  29.50  6.50
28389    * gam Ori     NULL        13.42               0.98  18.20  1.60
28400    * bet Tau     NULL        24.89               0.88   9.20  1.60
28520    * eps Ori     NULL         2.43               0.91  27.30  4.30
28730    * alf Ori     NULL         7.63               1.64  21.91  0.51
29024    * bet CMa     NULL         6.53               0.66  33.70  1.60
29039    * alf Car     NULL        10.43               0.53  20.30  0.20
29191    * gam Gem     NULL        31.12               2.33  -9.10  3.00
29262    * alf CMa     NULL       379.21               1.58  -5.50  1.40
29418    * eps CMa     NULL         7.57               0.57  27.30  1.60
29506    * del CMa     NULL         1.82               0.56  32.00  2.30
29775    * alf Gem     NULL        63.27               1.23   5.40  3.70
29809    * alf CMi     NULL       285.93               0.88  -4.10  0.11
29872    * bet Gem     NULL        96.74               0.87   3.23  0.02
30047  * gam02 Vel     NULL         3.88               0.53  15.00  5.80
30145    * eps Car     NULL         5.16               0.49  11.60  1.60
30544    * bet Car     NULL        29.34               0.47  -5.10  1.60
30649    * alf Hya     NULL         18.4               0.78  -4.70  0.20
30938    * alf Leo     NULL        42.09               0.79   5.90  1.60
31377    * alf UMa     NULL        26.38               0.53  -9.40  1.00
31901    * alf Cru     NULL        10.17               0.67  11.90  1.60
31941    * gam Cru     NULL        37.09               0.67  21.00  0.30
32057    * bet Cru     NULL         9.25               0.61  15.60  1.60
32107    * eps UMa     NULL         40.3               0.62 -12.70  1.80
32502    * eta UMa     NULL        32.39               0.74 -13.40  1.60
32631    * bet Cen     NULL         6.21               0.56   5.90  1.60
32718    * alf Boo     NULL        88.85               0.74  -5.20  2.30
32927  * alf Cen B     NULL       742.12               1.40 -22.44  0.11
32928  * alf Cen A     NULL       742.12               1.40 -22.44  0.11
33699    * alf Sco     NULL          5.4               1.68  -3.50  1.60
33821    * alf TrA     NULL         7.85               0.63  -3.00  0.40
34174    * lam Sco     NULL         4.64               0.90  -3.00  1.60
34205    * tet Sco     NULL        11.99               0.84   1.40  1.60
34769    * alf Lyr     NULL       128.93               0.55 -20.60  7.30
35418    * alf Aql     NULL       194.44               0.94 -26.60  5.60
35694    * alf Pav     NULL         17.8               0.70   2.00  1.60
35819    * alf Cyg     NULL         1.01               0.57  -4.90  0.60
36507    * alf Gru     NULL        32.16               0.82  10.90  1.60
36923    * alf PsA     NULL       130.08               0.92   6.50  0.90

## Global Definitions

In [3]:
import sys
sys.path.append("/home/local-python/lib/python3.5/site-packages")
import numpy as np
import pandas as pd
import collections
pd.options.mode.chained_assignment = None